<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @note.user_id %>
</p>

<p>
  <strong>Datum:</strong>
  <%= @note.datum %>
</p>

<p>
  <strong>Uhrzeit:</strong>
  <%= @note.uhrzeit %>
</p>

<p>
  <strong>Message:</strong>
  <%= @note.message %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
