<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= email_image_tag("thurcloud.png", :size => "200x200") %>
    <h1><%= (I18n.t :message_from) + " " + @user_from.name + " " + @user_from.lastname %></h1>
    <p>
      <%= @text %><br>
    </p>
    <p><%= (I18n.t :visitus) %><b><%= " " + @url %></b></p>
  </body>
</html>