<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= email_image_tag("thurcloud.png", :size => "200x200") %>
    <h1><%= @text %></h1>

    <b><%= (I18n.t @mobject.mtype) %></b><br>
    <%= link_to @mobject do %>
       <%= @mobject.name %>
    <% end %>
    </p>

    <p>
    <% if @mobject.mdetails.first %>
      <% image_url = "https://"+url_for(@mobject.mdetails.first.avatar(:medium)) %>
      <%= image_tag(image_url) %>
    <% end %>
    </p>
    <p>
    <% if @mobject.requester_id %>
      <% if @mobject.requester_type == "User" %>
        <% @u = User.find(@mobject.requester_id) %>
        <% image_url = "https://"+url_for(@u.avatar(:small)) %>
        <%= image_tag(image_url) %><br>
        <%= @u.name + " " + @u.lastname %><br>
        <%= @u.email %><br>
      <% end %>
      <% if @mobject.requester_type == "Company" %>
        <% @c = Company.find(@mobject.requester_id) %>
        <% image_url = "https://"+url_for(@c.avatar(:small)) %>
        <%= image_tag(image_url) %><br>
        <%= @c.name %><br>
        <%= @c.user.email %><br>
      <% end %>
    <% end %>
    </p>

    <% image_url = "https://"+url_for(@mobject.owner.avatar(:medium)) %>
    <%= image_tag(image_url) %>
    <h1><%= @mobject.owner.name %></h1>

    <p><%= (I18n.t :visitus) %><b><%= " " + @url %></b></p>
  </body>
</html>