<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= email_image_tag("thurcloud.png", :size => "200x200") %>
    <h1><%= @text %></h1>

    <b><%= (I18n.t @mobject.mtype) %></b>
    <%= link_to @mobject do %>
       <%= @mobject.name %>
    <% end %>
    </p>

    <% if @mobject.mdetails.first %>
      <%= image_url = url_for(@mobject.mdetails.first.avatar(:medium)) %>
      <%= image_tag(image_url) %>
    <% end %>
    <%= image_tag("https://s3.amazonaws.com/tgcloudtestbucket/companies/avatars/000/000/002/original/connect.jpg") %>

    <% if false %>
    <%= email_s3image_tag(url_for(Company.find(1).avatar(:medium))) %>
    <% img = url_for(Company.find(1).avatar(:small)) %>
    <%= image_tag attachments[img] if false %>
    <% end %>
    <p><%= (I18n.t :visitus) %><b><%= " " + @url %></b></p>
  </body>
</html>