<p id="notice"><%= notice %></p>

<h1>Mvdetails</h1>

<table>
  <thead>
    <tr>
      <th>Mobject</th>
      <th>Name</th>
      <th>Description</th>
      <th>Sequence</th>
      <th>Video file name</th>
      <th>Video content type</th>
      <th>Video file size</th>
      <th>Video updated at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mvdetails.each do |mvdetail| %>
      <tr>
        <td><%= mvdetail.mobject_id %></td>
        <td><%= mvdetail.name %></td>
        <td><%= mvdetail.description %></td>
        <td><%= mvdetail.sequence %></td>
        <td><%= mvdetail.video_file_name %></td>
        <td><%= mvdetail.video_content_type %></td>
        <td><%= mvdetail.video_file_size %></td>
        <td><%= mvdetail.video_updated_at %></td>
        <td><%= link_to 'Show', mvdetail %></td>
        <td><%= link_to 'Edit', edit_mvdetail_path(mvdetail) %></td>
        <td><%= link_to 'Destroy', mvdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mvdetail', new_mvdetail_path %>
