<p id="notice"><%= notice %></p>

<p>
  <strong>Mobject:</strong>
  <%= @mvdetail.mobject_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @mvdetail.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @mvdetail.description %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @mvdetail.sequence %>
</p>

<p>
  <strong>Video file name:</strong>
  <%= @mvdetail.video_file_name %>
</p>

<p>
  <strong>Video content type:</strong>
  <%= @mvdetail.video_content_type %>
</p>

<p>
  <strong>Video file size:</strong>
  <%= @mvdetail.video_file_size %>
</p>

<p>
  <strong>Video updated at:</strong>
  <%= @mvdetail.video_updated_at %>
</p>

<%= link_to 'Edit', edit_mvdetail_path(@mvdetail) %> |
<%= link_to 'Back', mvdetails_path %>
