<br>
<div class="contact-form">
<div class="container"
    <div class="jumbotron">

    <%= form_for @deputy do |f| %>

        <% if @deputy.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@deputy.errors.count, "error") + " " + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @deputy.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>
        
                <%= header("Stellvertretung für "+@deputy.owner.name + " " + (@deputy.owner.lastname if @deputy.owner_type == "User")) %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'

                    <div class="form-group">
                      <%= f.label (I18n.t :timeslot) %><br>
                      <div class="input-group">
                        <%= f.text_field :date_from, :value => (@deputy.date_from), :style => "text-align: Right", class:"form-control" %>
                        <div class="input-group-addon"> Datum bis</div>
                      </div>
                      <div class="input-group">
                        <%= f.text_field :date_to, :value => (@deputy.date_to), :style => "text-align: Right", class:"form-control" %>
                        <div class="input-group-addon"> Datum bis</div>
                      </div>
                    </div>
                    <div class="actions">
                       <%= f.submit (I18n.t :speichern), class:"btn btn-primary btn-lg btn-download"%>
                        <% if @deputy.owner_type == "User" %>
                          <%= link_to user_path(:id => @deputy.owner_id, :topic => "personen_stellvertretungen") do %>
                            <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
                          <% end %>
                        <% end %>
                        <% if @deputy.owner_type == "Company" %>
                          <%= link_to company_path(:id => @company.owner_id, :topic => "personen_stellvertretungen") do %>
                            <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
                          <% end %>
                        <% end %>
                    </div>
                    <%= f.hidden_field :owner_id, class:"form-control"  %>
                    <%= f.hidden_field :owner_type, class:"form-control"  %>
                    <%= f.hidden_field :userid, class:"form-control"  %>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
              <%= image_tag("stellvertretung.jpg", class: "img-responsive") %>
          </div>
        </div>
    <% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('#deputy_date_from').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "en",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
    $('#deputy_date_to').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "en",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
  });
</script>
