<br>
<div class="contact-form">
    <div class="container"
    <div class="jumbotron">

      <%= form_for(company_param) do |f| %>
        <% if company_param.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(company_param.errors.count, "error") %> prohibited this company_param from being saved:</h2>
            <ul>
            <% company_param.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <%= header("Parameter für "+ @company_param.company.name) %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
                    
                     <div class="form-group">
                       <%= f.label "KEY" %><br/>
                       <%= f.text_field :key, autofocus: true, class:"form-control"%>
                     </div>
                     <div class="form-group">
                       <%= f.label "WERT" %><br/>
                       <%= f.text_field :value, class:"form-control"%>
                     </div>
                    <%= f.hidden_field :company_id, class:"form-control" %>
                     <div class="actions">
                        <%= f.submit "Speichern",  class:"btn btn-primary btn-lg btn-download"%>
                        <%= link_to company_path(:id =>  @company_param.company_id, :topic => "institutionen_params") do %>
                         <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
                        <% end %>
                     </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
            <%= image_tag("settings.jpg", class: "img-responsive") %>
          </div>
        </div>
     <% end %>                
    </div>
    </div>
</div>
<br>