<p id="notice"><%= notice %></p>

<p>
  <strong>Company:</strong>
  <%= @company_param.company_id %>
</p>

<p>
  <strong>Sponsoring werte1:</strong>
  <%= @company_param.sponsoring_werte1 %>
</p>

<p>
  <strong>Sponsoring werte2:</strong>
  <%= @company_param.sponsoring_werte2 %>
</p>

<p>
  <strong>Sponsoring werte3:</strong>
  <%= @company_param.sponsoring_werte3 %>
</p>

<p>
  <strong>Sponsoring werte4:</strong>
  <%= @company_param.sponsoring_werte4 %>
</p>

<p>
  <strong>Sponsoring init:</strong>
  <%= @company_param.sponsoring_init %>
</p>

<p>
  <strong>Role sponsoring res:</strong>
  <%= @company_param.role_sponsoring_res %>
</p>

<p>
  <strong>Color1:</strong>
  <%= @company_param.color1 %>
</p>

<%= link_to 'Edit', edit_company_param_path(@company_param) %> |
<%= link_to 'Back', company_params_path %>
