<br>
<div class="contact-form">
    <div class="container"
    <div class="jumbotron">

    <%= form_for @user, html: {multipart: true} do |f| %>

        <% if @user.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@user.errors.count, "error") + " " + (I18n.t :notsaved )%></h2>
              <ul>
                  <% @user.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>
        
        <%= header("Account Informationen "+ @user.name + " " +@user.lastname) %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'

        <div class="form-group">
           <%= f.label I18n.t :picture %><br>
           <%= image_tag @user.avatar.url(:medium) %><br>
           <%= f.file_field :avatar, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :email%>
          <%= f.text_field :email, :readonly => true, class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :lastname %>
          <%= f.text_field :lastname, autofocus: true, class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :name %>
          <%= f.text_field :name, class:"form-control"%>
        </div>
        <div class="form-group">
           <%= f.label I18n.t :adresse%>
           <%= f.text_field :address1, class:"form-control" %>
           <%= f.text_field :address2, class:"form-control" %>
           <%= f.text_field :address3, class:"form-control" %>
        </div>
        <div class="form-group">
           <%= f.label I18n.t :telefon%>
           <%= f.text_field :phone1, class:"form-control" %>
           <%= f.text_field :phone2, class:"form-control" %>
        </div>
        <div class="form-group">
           <%= f.label I18n.t :organisation %>
           <%= f.text_field :org, class:"form-control" %>
           <%= f.label I18n.t :kostenstelle %>
           <%= f.text_field :costinfo, class:"form-control" %>
           <%= f.label I18n.t :standardstundensatz %>
            <div class="input-group">                          
              <%= f.number_field :rate, :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"><%= I18n.t :waehrung %></div>
            </div>
        </div>
        <% if current_user.superuser %>
        <div class="form-group">
            <label class="checkbox-inline">
               <%= f.check_box :webmaster, class:"customcheck" %><%= I18n.t(:webmaster) %>
            </label>
            <br>
            <label class="checkbox-inline">
               <%= f.check_box :active, class:"customcheck" %><%= I18n.t(:active) %>
            </label>
        </div>
        <% end %>
        <%= f.hidden_field :status, class:"form-control" %>
        <div class="actions">
          <%= f.submit "Speichern", class:"btn btn-primary btn-lg btn-download"%>
          <%= link_to @user do %>
              <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
          <% end %>
        </div>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
            <%= image_tag("crowd.jpg", class: "img-responsive") %>
          </div>
        </div>

    <% end %>
    
    </div>
    </div>
</div>
<br>