
<%= indexheader4((I18n.t :personen), "personen", nil, @filter_id, @search, @mobject_id) %>

<div class="digg_pagination">
    <%= will_paginate @users, :container => true, previous_label: "<", next_label: ">" %>
</div>

<% case @mode %>
  <% when "deputy" %>
    <%= build_medialistNew(@users, "users", "deputy", @owner_id, @owner_type) %>
  <% when "projekte" %>
    <%= build_medialistNew(@users, "users", "projekte", @mobject_id,nil) %>
  <% when "gruppen" %>
    <%= build_medialistNew(@users, "users", "gruppen", @mobject_id,nil) %>
  <% else %>
    <%= build_medialistNew(@users, "users", nil, nil, nil) %>
<% end %>
