<%= header4(@user.fullname,"personen", @user, @topic) %>

      <% case @topic %>
        <% when "personen_info" %>

          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="panel-body">
                <% case @user.status %>
                  <% when "CHECK" %>
                    <i class="fa fa-question-sign"></i>
                  <% when "OK" %>
                    <i class="fa fa-ok-circle"></i>
                  <% when "NOK" %>
                    <i class="fa fa-ban-circle"></i>
                <% end %>
                <b> <%= (I18n.t :status) %></b>
                <br>
                <% if @user.anonymous %>
                  <%= image_tag("user_a.png", :size => "200x200", class:"img-rounded" ) %>
                <% else %>
                  <%= showImage2(:medium, @user, true) %>
                  <br><br>
                  <b><i class="fa fa-home"></i> <%= (I18n.t :adresse) %></b><br>
                  <% if !@user.anonymous and @user.address1 != nil and @user.address1 != "" %>
                    <%= @user.address1 %><br> 
                  <% end %>
                  <% if !@user.anonymous and @user.address2 != nil and @user.address2 != "" %>
                    <%= @user.address2 %><br> 
                  <% end %>
                  <% if !@user.anonymous and @user.address3 != nil and @user.address3 != "" %>
                    <%= @user.address3 %><br> 
                  <% end %>
                  <br>
                  <b><i class="fa fa-phone"></i> <%= (I18n.t :telefon) %></b><br>
                  <% if !@user.anonymous and @user.phone1 != nil and @user.phone1 != "" %>
                    <%= @user.phone1 %><br> 
                  <% end %>
                  <% if !@user.anonymous and @user.phone2 != nil and @user.phone2 != "" %>
                    <%= @user.phone2 %><br> 
                  <% end %>
                  <br>
                  <% if !@user.anonymous and @user.dateofbirth %>
                    <b><%= (I18n.t :geburtsdatum) %></b><br>
                    <%= @user.dateofbirth.strftime("%d.%m.%Y") if @user.dateofbirth %><br>
                  <% end %>
                  <% if user_signed_in? %>
          	        <%= link_to new_email_path :m_from_id => current_user.id, :m_to_id => @user.id, :back_url => request.original_url do %>
                      <i class="btn btn-default fa fa-envelope"></i>
                    <% end %>
                  <% else %>
                      <i class="fa fa-envelope"></i>
                  <% end %>
                  <%= @user.email %><br>
                <% end %>
              </div>
            </div>
                
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <% if $activeapps.include?("personen_aktivitaeten") or (user_signed_in? and current_user.superuser) %>
                <!--<div class="panel-body">-->
                <!--  <div id="piechart"></div>-->
                <!--</div>-->
        <div class="chart-container">
            <canvas id="myPieChart"></canvas>
        </div>
              <% end %>
            </div>
          </div>

        <% when "personen_institutionen" %>
            <%= build_medialistNew(@user.companies, "companies", nil, nil, nil) %>

        <% when "personen_projekte" %>
          <% moblist = zugriffsliste(@user.mobjects, "projekte", current_user) %>
          <% moblist %>
          <%= build_medialistNew(@user.mobjects.mobshow("projekte",moblist), "mobjects", nil, nil, nil) %>
          <% if false %>
            <%= build_medialistNew(@user.mobjects.where('mtype=? and parent=?',"projekte",0), "mobjects", nil) %>
          <% end %>

        <% when "personen_gruppen" %>
          <%= build_medialistNew(@user.mobjects.where('mtype=?',"gruppen"), "mobjects", nil, nil, nil) %>
  
        <% when "personen_export" %>
          <div class="row">
            <div class='col-xs-12'>
              <div class='panel-body'>
                
                <% case @c_mode %>
                  <% when "Monat" %>
                    <% btn_m = "active" %>
                    <% btn_y = "inactive" %>
                  <% when "Jahr" %>
                    <% btn_y = "active" %>
                    <% btn_m = "inactive" %>
                <% end %>
                <% @date_start %>
                <% @date_end %>
                
                <%= link_to user_path(:id => @user.id, :topic => "personen_export",  :year => @c_year, :month => @c_month, :mode => "Monat", :scope => @c_scope, :tdatum => @c_datum) do %>
                  <span><i class="btn btn-<%= btn_m %> fa fa-calendar"> <%= @c_month %></i></span>
                <% end %>
                <%= link_to user_path(:id => @user.id, :topic => "personen_export",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope, :tdatum => @c_datum)  do %>
                  <span><i class="btn btn-<%= btn_y %> fa fa-calendar"> <%= @c_year %></i></span>
                <% end %>
                <%= link_to user_path(:id => @user.id, :topic => "personen_export", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :tdatum => @c_datum)  do %>
                  <i class="btn btn-primary fa fa-chevron-left"></i>
                <% end %>
                <%= link_to user_path(:id => @user.id, :topic => "personen_export", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :tdatum => @c_datum) do %>
                  <i class="btn btn-primary fa fa-chevron-right"></i>
                <% end %>
                <% if @filename %>
        	        <%= link_to @filename.remove("public") do %>
                    <span><i class="btn btn-active fa fa-cloud-download"></i></span>
                  <% end %>
                <% end %>

               <br><br>
               <table class="table table-striped">

                 <thead>
                   <th>
                     Periodizität
                   </th>
                   <th>
                     Periode
                   </th>
                   <th>
                     Projekt
                   </th>
                   <th>
                     P-KST
                   </th>
                   <th>
                     P-Auftragsnummer
                   </th>
                   <th>
                     Mitarbeiter
                   </th>
                   <th>
                     eMail
                   </th>
                   <th>
                     M-KST
                   </th>
                   <th align="right">
                     h-Satz STD
                   </th>
                   <th align="right">
                     h-Satz Projekt
                   </th>
                   <th align="right">
                     Aufwand in h
                   </th>
                   <th align="right">
                     Aufwand in Kosten
                   </th>
                   <th align="right">
                     Kosten
                   </th>
                 </thead>
                 
                 <% @export = [] %>
                 <% @projects = @user.mobjects.where('mtype=?',"projekte") %>
                 <% @projects.each do |p| %>
                 
                   <% @employees = p.timetracks.select("user_id").distinct %>

                   <% @employees.each do |e| %>

                     <% @repuser = User.find(e.user_id) %>
                     <% aufwand = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "aufwand", @date_start, @date_end).sum(:amount) %>
                     <% if !aufwand %>
                       <% aufwand = 0 %>
                     <% end %>
                     <% kosten = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "kosten", @date_start, @date_end).sum(:amount) %>
                     <% if !kosten %>
                       <% kosten = 0 %>
                     <% end %>

                     <% if aufwand != 0 or kosten != 0 %>
                       <% @export_row = Hash.new %>
                       
                       <tr>
                         <td><%= @c_mode %></td>
                         <% if @c_mode == "Jahr" %>
                           <td><%=  @c_year %></td>
                           <% @per = @c_year %>
                         <% end %>
                         <% if @c_mode == "Monat" %>
                           <td><%=  @c_month.to_s + "/" + @c_year.to_s %></td>
                           <% @per = @c_month.to_s + "/" + @c_year.to_s %>
                         <% end %>
                         <td><%= p.name %></td>
                         <% if p.costinfo and p.costinfo.length > 0 %>
                           <td><%= p.costinfo %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% if p.reward and p.reward.length > 0 %>
                           <td><%= p.reward %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                     
  
                         <td><%= @repuser.name + " " + @repuser.lastname %></td>
                         <td><%= @repuser.email %></td>
                         <td><%= @repuser.costinfo %></td>
                         
                         <% if @repuser.rate %>
                           <td align="right"><%= sprintf("%5.2f",@repuser.rate) %></td>
                         <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% @projectrate = @repuser.madvisors.where('role=? and mobject_id=?', "projekte", p.id).first.rate %>
                         <% if @projectrate %>
                           <td align="right"><%= sprintf("%5.2f", @projectrate) %></td>
                         <% else %>
                           <td></td>
                         <% end %>
                         <% if @projectrate %>
                           <% @rate = @projectrate %>
                         <% else %>
                           <% if @repuser.rate %>
                             <% @rate = @repuser.rate %>
                             <% if !@rate %>
                               <% @rate = 0 %>
                             <% end %>
                           <% else %>
                             <% @rate = 0 %>
                           <% end %>
                        <% end %>
    
                         <td align="right"><%= sprintf("%5.2f", aufwand) %></td>
                         <td align="right"><%= sprintf("%5.2f", (aufwand * @rate)) %></td>
                         <td align="right"><%= sprintf("%5.2f",kosten) %></td>
  
                         <% @export_row = {:periodicity => @c_mode, :period => @per, :projekt_name => p.name, :projekt_kst => p.costinfo, :projekt_auftragsnr => p.reward, :mitarbeiter_name => @repuser.name + " " + @repuser.lastname, :mitarbeiter_email => @repuser.email, :mitarbeiter_kst => @repuser.costinfo, :mitarbeiter_rate => @repuser.rate, :mitarbeiter_prate => @projectrate, :aufwand_h => aufwand, :aufwand_k => aufwand*@rate, :kosten => kosten} %>
                         <% @export << @export_row %>
                         
                      </tr>
                    <% end %>
                   
                   <% end %>
  
                 <% end %>

               </table>               
             </div>
            </div>
          </div>
          <% if @filename %>
            <% exportdata(@export, @filename) %>
          <% end %>

        <% when "personen_zeiterfassung" %>
          <div class="row">
              <div class='col-xs-12'>
                <div class='panel-body'>
                  
                  <% case @c_scope %>
                    <% when "aufwand" %>
                      <% btn_sa = "active" %>
                      <% btn_sc = "inactive" %>
                    <% when "kosten" %>
                      <% btn_sa = "inactive" %>
                      <% btn_sc = "active" %>
                  <% end %>
                  <% case @c_mode %>
                    <% when "Monat" %>
                      <% btn_m = "active" %>
                      <% btn_y = "inactive" %>
                      <% btn_a = "inactive" %>
                      <% btn_d = "inactive" %>
                    <% when "Jahr" %>
                      <% btn_y = "active" %>
                      <% btn_m = "inactive" %>
                      <% btn_a = "inactive" %>
                      <% btn_d = "inactive" %>
                    <% when "alles" %>
                      <% btn_y = "inactive" %>
                      <% btn_m = "inactive" %>
                      <% btn_a = "active" %>
                      <% btn_d = "inactive" %>
                    <% when "Datum" %>
                      <% btn_y = "inactive" %>
                      <% btn_m = "inactive" %>
                      <% btn_a = "inactive" %>
                      <% btn_d = "active" %>
                  <% end %>
                  <% @date_start %>
                  <% @date_end %>

                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :year => @c_year, :month => @c_month, :mode => "Datum", :scope => @c_scope, :tdatum => @c_datum) do %>
                    <span><i class="btn btn-<%= btn_d %> fa fa-calendar"> <%= @c_datum.strftime("%d.%m.%Y") %></i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Monat", :scope => @c_scope, :tdatum => @c_datum) do %>
                    <span><i class="btn btn-<%= btn_m %> fa fa-calendar"> <%= @c_month %></i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope, :tdatum => @c_datum)  do %>
                    <span><i class="btn btn-<%= btn_y %> fa fa-calendar"> <%= @c_year %></i></span>
                  <% end %>
                  <!--<%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :year => @c_year, :month => @c_month, :mode => "alles", :scope => @c_scope, :tdatum => @c_datum) do %>-->
                  <!--  <span><i class="btn btn-<%= btn_a %> fa fa-calendar"> alles</i></span>-->
                  <!--<% end %>-->
  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => "kosten", :tdatum => @c_datum)  do %>
                    <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung",  :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => "aufwand", :tdatum => @c_datum)  do %>
                    <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
                  <% end %>
          
                  <% if @c_mode != "alles" %>
                    <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :tdatum => @c_datum)  do %>
                      <i class="btn btn-primary fa fa-chevron-left"></i>
                    <% end %>
                    <%= link_to user_path(:id => @user.id, :topic => "personen_zeiterfassung", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :tdatum => @c_datum) do %>
                      <i class="btn btn-primary fa fa-chevron-right"></i>
                    <% end %>
                 <% end %>
                 <br><br>

                <% case @c_mode %>
                  <% when "alles" %>
                    <% @tts = Timetrack.select("mobject_id, sum(amount) as sum").where('user_id=? and costortime=?', @user.id, @c_scope).group("mobject_id") %>
                  <% when "Datum" %>
                    <% @tts = Timetrack.select("mobject_id, sum(amount) as sum").where('user_id=? and costortime=? and datum=?', @user.id, @c_scope, @c_datum).group("mobject_id") %>
                  <% else %>
                    <% @tts = Timetrack.select("mobject_id, sum(amount) as sum").where('user_id=? and costortime=? and datum >=? and datum <=?', @user.id, @c_scope, @date_start, @date_end).group("mobject_id") %>
                <% end %>
                <% @pieLabel = [] %>
                <% @pieData = [] %>
                <% summe = 0 %>
                <% @tts.each do |ts| %>
                  <% @pieData << ts.sum %>
                  <% @pieLabel << Mobject.find(ts.mobject_id).name %>
                  <% summe = summe + ts.sum %>
                <% end %>

                <!--<%= @c_scope %><br>-->
                <!--<%= @c_mode %><br>-->
                <!--<%= @c_year %><br>-->
                <!--<%= @c_month %><br>-->
                <!--<%= @c_datum %><br>-->

                <div class="row">
                  <div class="col-md-4">
                    <% if user_signed_in? %> 
                      <% if @user.id == current_user.id or isdeputy(@user) %>
                        <%= link_to new_timetrack_path(:user_id => @user.id, :scope => @c_scope, :datum => @c_datum) do %>
                          <span><i class="btn btn-primary %> fa fa-plus"></i></span>
                        <% end %>
                      <% end %>
                    <% end %>
                    <div class="chart-container">
                        <canvas id="userProjekte"></canvas>
                    </div>
                  </div>
                  <% @mobs = @user.madvisors.select("mobject_id").where("role=?","projekte").distinct %>
                  <% @mobs.each do |m| %>
                    <!--<%= dat = controlRes(@user.id, m.mobject_id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>-->
                    <div class="col-md-4">
                        <% if Mobject.find(m.mobject_id).active %>
                          <%= link_to new_timetrack_path(:user_id => @user.id, :mobject_id => m.mobject_id, :scope => @c_scope, :datum => @c_datum) do %>
                            <span><i class="btn btn-primary %> fa fa-plus"></i></span>
                          <% end %>
                        <% end %>
                        <div class="chart-container">
                            <canvas id="myMobjectChart<%= m.mobject_id %>"></canvas>
                        </div>
                    </div>
                  <% end %>
                </div>
                
                <% if @c_mode == "Datum" %>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div>
                        <%= header((I18n.t :zeiterfassung)) %>
                        
                    		<table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th><%= (I18n.t :datum) %></th>            
                              <th colspan=2><%= (I18n.t :projekte) %></th>
                              <th><%= (I18n.t :activity) %></th>
                              <% if @c_scope == "aufwand" %>
                                <th align="right"><%= (I18n.t :anzahlstunden) %></th>
                              <% end %>
                              <% if @c_scope == "kosten" %>
                                <th align="right"><%= (I18n.t :betrag) %></th>
                              <% end %>
                              <th></th>
                            </tr>
                          </thead>
                          <tbody>
                          <% @activities = Timetrack.where('user_id=? and costortime=? and datum=?', @user.id, @c_scope, @c_datum).order(datum: :desc, created_at: :desc) %>
                          <% @activities.each do |a| %>
                            <% if a.amount != nil and a.amount >0 %>
                              <tr>
                                <td>
                                  <% if Mobject.find(a.mobject_id).active %>
                                    <%= link_to edit_timetrack_path(a) do %>
                                      <i class="btn btn-primary btn btn-xs fa fa-wrench"></i>
                                    <% end %>
                          	        <%= link_to a, method: :delete, data: { confirm: 'Are you sure?' } do %>
                                      <i class="btn btn-danger btn-xs fa fa-trash"></i>
                                    <% end %>
                                  <% end %>
                                </td>
                                <td><%= a.datum.strftime('%d-%m-%Y') %></td>
                                <td><%= showFirstImage2(:small, Mobject.find(a.mobject_id),Mobject.find(a.mobject_id).mdetails) %></td>
                                <td><%= Mobject.find(a.mobject_id).name %></td>
                                <td><%= a.activity %></td>
                                <% if @c_scope == "aufwand" %>
                                  <td align="right"><%= sprintf("%05.2f", a.amount) + " h" %></td>
                                <% end %>
                                <% if @c_scope == "kosten" %>
                                  <td align="right"><%= sprintf("%05.2f", a.amount) + " " + (I18n.t :waehrung) %></td>
                                <% end %>
                                <td></td>
                              </tr>
                            <% end %>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
  
                </div>
              </div>
          </div>
  
        <% when "personen_ressourcenplanung" %>
          <div class="row">
              <div class='col-xs-12'>
                <div class='panel-body'>
  
                  <% @header = [] %>
                  <% @data = [] %>
                  <% @header = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Okt Nov Dez] %>
                  <% for i in 1..12 %>
                    <% @data << i %>
                  <% end %>
                  
                  <% case @c_scope %>
                    <% when "aufwand" %>
                      <% btn_sa = "active" %>
                      <% btn_sc = "inactive" %>
                    <% when "kosten" %>
                      <% btn_sa = "inactive" %>
                      <% btn_sc = "active" %>
                  <% end %>
                  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => @c_scope)  do %>
                    <span><i class="btn btn-active fa fa-calendar"> <%= @c_year %></i></span>
                  <% end %>
  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => "kosten")  do %>
                    <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
                  <% end %>
                   <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => "aufwand")  do %>
                    <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
                  <% end %>
                  
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :dir => "<", :year => @c_year, :mode => @c_mode, :scope => @c_scope )  do %>
                    <i class="btn btn-primary fa fa-chevron-left"></i>
                  <% end %>
                  <%= link_to user_path(:id => @user.id, :topic => "personen_ressourcenplanung", :dir => ">", :year => @c_year, :mode => @c_mode , :scope => @c_scope) do %>
                    <i class="btn btn-primary fa fa-chevron-right"></i>
                  <% end %>
                 <br><br>

                  <div class="col-md-12">
                      <div class="chart-container">
                          <canvas id="myChart0P"></canvas>
                      </div>
                  </div>
  
                  <table class="table">
                    <tr>
                      <td></td>
                      <td></td>
                      <td colspan= <%= @header.length %>></td> 
                    </tr>
                    <tr>
                      <th colspan="2"><%= I18n.t :projekte %></th>
                        <% @total = [] %>
                        <% for i in 0..@header.length-1 do %>
                          <!-- set initialize total per column -->
                          <% @total[i] = 0 %>
                          <!-- set color of header according to actual day, wekk or month -->
                          <% if Date.today.strftime('%m').to_i == @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                                <th class="warning">
                          <% else %>
                                <th>
                          <% end %>
                          <%= @header[i] %>
                        </th>
                      <% end %>
                    </tr>
                    <% if @mymobjects %>
                      <% @mymobjects.each do |w| %>
    
                        <tr>            
    
                          <% plans = [] %>
                          <% @plannings = Planning.where('mobject_id=? and user_id=? and costortime=? and jahr=?', w.id, @user.id, @c_scope, @c_year.to_s) %>
                          <% @plannings.each do |p| %>
                            <% h = Hash.new %>
                            <% h = {:id => p.id, :monat => p.monat.to_i, :kapa => p.amount, :status => p.status} %>
                            <% plans << h %>
                          <% end %>
    
                          <td>
                            <%= showFirstImage2(:small, w,w.mdetails) %>
                          </td>
                          <td>
                            <%= w.name %>
                          </td>
    
                          <% for i in 0..@header.length-1 do %>
    
                            <% if @c_scope == "kosten" %>
                            
                              <% moto = 0 %>
                              <% for k in 0..plans.length-1 do %>
                                <% if plans[k][:monat].to_i == @data[i].to_i %>
                                  <% moto = moto + plans[k][:kapa] %>
                                <% end %>
                              <% end %>
                              
                              <% if moto > 0%>
                                <td class="color_kapa_booked" align="right">
                                  <% if user_signed_in? and current_user == @user %>
                    				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => @user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                      <i class="btn btn-primary btn-xs fa fa-plus"></i>
                                    <% end %>
                                  <% end %>
                                 <%= moto.to_s+" CHF" %><br>
                              <% else %>
                                  <td>
                                  <% if user_signed_in? and current_user == @user %>
                    				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => @user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                      <i class="btn btn-primary btn-xs fa fa-plus"></i>
                                    <% end %>
                                  <% end %>
                              <% end %>
                              </td>
                            <% end %>
                          
                            <% if @c_scope == "aufwand" %>
                              <% kapa = false %>
                              <% for k in 0..plans.length-1 do %>
                                <% if plans[k][:monat].to_i == @data[i].to_i %>
                                  <td class="color_kapa_booked">
                                  <%= plans[k][:kapa].to_s+" %" %>
                                  <% if plans[k][:status] == "PL" %>
                                    <i class="fa fa-info", style='color:red'"></i>
                                  <% end %>
                                  <br>
                                  <% if user_signed_in? and current_user == @user %>
                    				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                                      <i class="btn btn-primary btn-xs fa fa-pencil"></i>
                                    <% end %>
                    				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                                      <i class="btn btn-danger btn-xs fa fa-trash"></i>
                                    <% end %>
                                  <% end %>
                                  <% @total[i] = @total[i] + plans[k][:kapa] %>
                                  <% kapa = true %>
                                <% end %>
                              <% end  %>
                              <% if !kapa %>
                                  <td>
                                  <% if w.active %>
                                    <% if user_signed_in? and current_user == @user %>
                      				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => @user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                        <i class="btn btn-primary btn-xs fa fa-plus"></i>
                                      <% end %>
                                    <% end %>
                                  <% end %>
                              <% end %>
                              </td>
                            <% end %>
    
                          <% end %>
    
                        </tr>
    
                      <% end %>
                    <% end %>
  
                  <!-- finally add totals and progress bar-->
                  <% if @c_scope == "aufwand" %>
                    <tr>
                      <td><%= I18n.t :total %></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <% if @total[i] > 100 %>
                            <td class="danger">
                        <% else %>
                            <td>
                        <% end %>
                        <%= @total[i] %>
                        </td>
                      <% end %>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <% for i in 0..@header.length-1 do %>
                        <td>
                        <div class="progress">
                        <% if @total[i] <=40 %>
                          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >40 and @total[i]<=60 %>
                          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >60 and @total[i]<=100 %>
                          <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >100 and @total[i]<=125 %>
                          <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        <% if @total[i] >125 %>
                          <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= @total[i] %>%" >
                        <% end %>
                        </div>
                        </td>
                      <% end %>
                  </tr>
                  <% end %>
                
                </table>
                
                <% if @c_scope == "kosten" %>
                  <br><br>
                  <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                      <div>
                        <%= header((I18n.t :kosten)) %>
                        
                    		<table class="table table-striped">
                          <thead>
                            <tr>
                              <th></th>
                              <th><%= (I18n.t :datum) %></th>            
                              <th colspan=2><%= (I18n.t :projekte) %></th>
                              <th><%= (I18n.t :position) %></th>
                              <th align='right'><%= (I18n.t :betrag) %></th>
                            </tr>
                          </thead>
                          <tbody>
                          <% @plannings = Planning.where('user_id=? and costortime=?', @user.id, @c_scope).order(jahrmonat: :desc) %>
                          <% @plannings.each do |a| %>
                            <tr>
                              <td>
                                <%= link_to edit_planning_path(a) do %>
                                  <i class="btn btn-primary btn btn-xs fa fa-wrench"></i>
                                <% end %>
                      	        <%= link_to a, method: :delete, data: { confirm: (I18n.t :sindsiesicher?) } do %>
                                  <i class="btn btn-danger btn-xs fa fa-trash"></i>
                                <% end %>
                              </td>
                              <td><%= a.jahrmonat %></td>
                              <td><%= showFirstImage2(:small, Mobject.find(a.mobject_id),Mobject.find(a.mobject_id).mdetails) %></td>
                              <td><%= Mobject.find(a.mobject_id).name %></td>
                              <td><%= a.description %></td>
                              <td align='right'><%= sprintf("%7.2f",a.amount) + " " + (I18n.t :waehrung) %></td>
                            </tr>
                          <% end %>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                <% end %>
  
              </div>
            </div>
          </div>

        <% when "personen_stellvertretungen" %>
          <%= build_medialistNew(@user.deputies, "deputies", nil, nil, nil) %>

    	 <% when "personen_charges" %>
    	    <% if true %>
            <%= build_medialistNew(@user.charges, "charges", nil, nil, nil) %>
          <br><br>
          <% end %>
          <!--<%= build_medialistNew(Appparam.where('info=?', "payable"), "appparams", "user", nil, nil) %>-->
          <!--<br><br>-->

    	 <% when "personen_zugriffsberechtigungen" %>
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <%= header("Funktionen") %>
                  <%= build_kachel_access("hauptmenue", "user", @user) %>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <%= header("Funktionen Privatpersonen") %>
                  <%= build_kachel_access("personen", "user", @user) %>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <%= header("Funktionen Institutionen") %>
                  <%= build_kachel_access("institutionen", "user", @user) %>
            </div>
            
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <%= header("Funktionen Info-Objekte") %>
                  <%= build_kachel_access("objekte", "user", @user) %>
            </div>
        </div>

      <% end %>
      
<!-SCRIPT --->

<script>$('.dropdown-toggle').dropdown()</script>

<% if @topic == "personen_ressourcenplanung" %>
<script>
$(document).ready(function(){
    var ctx0P = document.getElementById("myChart0P");
    var myChart0P = new Chart(ctx0P, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% @mobs = @user.madvisors.select("mobject_id").distinct %>
                    <% @mobs.each do |m| %>
                    <% @mobject = Mobject.find(m.mobject_id) %>
                    <% dat = controlRes(@user.id, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= @mobject.name %>',
                    data: <%= raw dat[:dataPT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand PLAN'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
});
</script>
<% end %>

<% if @topic == "personen_info" %>
<script>
$(document).ready(function(){
  var ctpie = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctpie, {
    type: 'doughnut',
      data: {
          labels: <%= raw @pieLabel %>,
              datasets: [{
                  label: 'Aktivitäten',
                  data: <%= raw @pieData %>,
                  backgroundColor: [
                      <% for i in 0..10 %>
                      'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                      <% end %>
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                  ],
                  borderWidth: 1
              }]
          },
      options: {
          title: {
              display: true,
              text: 'Aktivitäten'
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  })
});
</script>
<% end %>

<% if @topic == "personen_zeiterfassung" %>
<script>
$(document).ready(function(){

    <% @mobs = @user.madvisors.select("mobject_id").distinct %>
    <% @mobs.each do |m| %>
      <% @mobject = Mobject.find(m.mobject_id) %>
      <% @date_start = @c_year.to_s + ".01.01" %>
      <% @date_end = @c_year.to_s + ".12.31" %>
      <% dat = controlRes(@user.id, m.mobject_id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
      var ctu<%= m.mobject_id %> = document.getElementById("myMobjectChart<%= m.mobject_id %>");
      var myMobjectChart<%= m.mobject_id %> = new Chart(ctu<%= m.mobject_id %>, {
        type: 'line',
          data: {
                  labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                  datasets: [
                      {
                      label: 'Aufwand IST in h',
                      data: <%= raw dat[:dataTT] %>,
                      backgroundColor: [
                          'rgba(<%= rand(255) %>, <%= rand(0) %>, <%= rand(0) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                      {
                      label: 'Aufwand PLAN in h',
                      data: <%= raw dat[:dataPT] %>,
                      backgroundColor: [
                          'rgba(<%= rand(0) %>, <%= rand(0) %>, <%= rand(255) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                  ]
              },
          options: {
              title: {
                  display: true,
                  text: '<%= @mobject.name %>'
              },
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      })
    <% end %>

  var ctpie = document.getElementById("userProjekte");
  var userProjekte = new Chart(ctpie, {
    type: 'doughnut',
      data: {
          labels: <%= raw @pieLabel %>,
              datasets: [{
                  label: 'Aktivitäten',
                  data: <%= raw @pieData %>,
                  backgroundColor: [
                      <% for i in 0..10 %>
                      'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                      <% end %>
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                  ],
                  borderWidth: 1
              }]
          },
      options: {
          title: {
              display: true,
              text: 'Aktivitäten rapportiert <%= summe %> h'
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  })

});
</script>
<% end %>
