<%  color2 = $graph_color2 %>
<%  color1 = $grey %>
<%  claim = "Willkommen" %>
<%  if @mob.owner_type == "Company" %>
<%    if @mob.owner.company_params.first  %>
<%      if @mob.owner.company_params.first.color1 and @mob.owner.company_params.first.color1 != ""  %>
<%        color1 = @mob.owner.company_params.first.color1  %>
<%      end %>
<%      if @mob.owner.company_params.first.color2 and @mob.owner.company_params.first.color2 != "" %>
<%        color2 = @mob.owner.company_params.first.color2 %>
<%      end %>
<%      if @mob.owner.company_params.first.claim and @mob.owner.company_params.first.claim != "" %>
<%        claim = @mob.owner.company_params.first.claim %>
<%      end %>
<%    end %>
<%  end %>

<%= @capanz %>
<% i=0 %>
<div class="signage">

    <% image_tag("dig1.png", class:"signage_background") %>

    <div class="signage_header" style="color:<%= color1 %>; background-color:<%= color2 %>">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <%= image_tag("tkb.png", size:"120x30") %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                <b><%= claim %></b>    
            </div>
        </div>
    </div>
        
    <div class="signage_content">
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                <div id="item_kampagne" class="kampagne">
                    <div id="image_kampagne" class="kampagne_image"></div>
                    <div id="message_header_kampagne" class="kampagne_message_header"></div>
                    <div id="message_body_kampagne" class="kampagne_message_body"></div>
                </div>
            </div>
            
            <div class="signage_right" style="background-color:<%= color1 %>">
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <!--<div id="side" class="signage_side">Hallo</div>-->
                    <div id="item_sideinfo" class="sideinfo">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div id="image_sideinfo" class="sideinfo_image"></div>
                            <div id="message_header_sideinfo" class="sideinfo_message_header"></div>
                            <div id="message_body_sideinfo" class="sideinfo_message_body"></div>
                            <div id="qrcode_sideinfo" class="sideinfo_qrcode"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    

    <!--<div id="qr" class="signage_infoqr"></div>-->
    <% if @standort %>
        <%= link_to @standort do %>
            <div class="signage_footer" style="background-color:<%= color1 %>">
                <%= "Standort: " + @standort.name + " Kampagnen: " + @campanz.to_s + " " + @camp %>    
            </div>
        <% end %>
    <% end %>
    <% if @kampagne %>
        <%= link_to @kampagne do %>
            <div class="signage_footer" style="background-color:<%= color1 %>">
                <%= "Kampagne: " + @kampagne.name %>    
            </div>
        <% end %>
    <% end %>
    
    <% if false %>
    <div id="qrcode" class="signage_qrcode">
      <% hash = qrcodeimg(Company.find(1), :small) %>
      <%= link_to Company.find(1) do %>
        <%= hash["qr_code"] %>
      <% end %>
    </div>
    <% end %>

    <div id="signage_qrcode" class="signage_qrcode">
        <%= link_to @owner do %>
            <%= image_tag("app_qrcode.png", :size => "100x100") %>
        <% end %>
    </div>

</div>


<% kampagne = [] %>
<% txtheader = [] %>
<% txtbody = [] %>
<% pics = [] %>
<% ptype = [] %>
<% @campaigns.each do |c| %>
    <% m = Mobject.find(c.mkampagne) %>
    <% kampagne << m.name %>
    <% m.mdetails.each do |u| %>
        <% if u.video_file_name %>
            <% imag = video_tag(u.video.url) %>
            <% pics << "/system/mdetails/videos/000/000/022/original/gruss.mp4" if false %>
            <% if true %>
                <% pos1 = imag.index("/") %>
                <% pos2 = imag.rindex('?') %>
                <% pics << imag[pos1..pos2-1] %>
            <% end %>
            <% txtheader << u.name %> 
            <% txtbody << u.description %> 
            <% ptype << "VIDEO" %>
        <% else %>
            <% if u.avatar_file_name %>
                <% imag = image_tag(u.avatar(:native))-%>
                <% pos1 = imag.index('"') %>
                <% pos2 = imag.rindex('alt') %>
                <% pics << imag[pos1+1..pos2-2] %>
                <% txtheader << u.name %> 
                <% txtbody << u.description %> 
                <% ptype << "IMG" %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
<% kampagne %>
<% pics %>
<% ptype %>
<% txtheader %>
<% txtbody %>

<% sideinfo = [] %>
<% txtheadersm = [] %>
<% txtbodysm = [] %>
<% picsm = [] %>
<% picqr = [] %>
<% @owner.mobjects.where('mtype<>?and mtype<>?',"kampagnen","standorte").each do |o| %>
    <% if o.signage %>
        <% o.mdetails.each do |m| %>
            <% case o.mtype %>
                <% when "umfragen" %>
                    <% @type = "machen Sie mit bei der Umfrage " + o.name %>
                <% when "publikationen" %>
                    <% @type = "lesen Sie die neue Ausgabe von " + o.name %>
                <% when "innovationswettbewerbe" %>
                    <% @type = "machen Sie mit beim Wettbewerb " + o.name %>
                <% else %>
                    <% @type = (I18n.t o.mtype.to_sym) + " " + o.name %>
            <% end %>
        
            <% if m.avatar_file_name %>
                <% imag = image_tag(m.avatar(:medium)) %>
                <% pos1 = imag.index('"') %>
                <% pos2 = imag.rindex('alt') %>
                <% picsm << imag[pos1+1..pos2-2] %>
                <% txtheadersm << @type %>
                <% txtbodysm << m.description %>
                
    
                <% hash = qrcodeimg(o, :small) %>
                <% imagqr = hash["qr_code"]-%>
                <% pos1 = imagqr.index('"') %>
                <% pos2 = imagqr.index('alt') %>
                <% picqr << imagqr[pos1+1..pos2-2] %>
            <% end %>
        <% end %>
    <% end %>
<% end %>

<script>
      var i = -1;
      var pics = <%= raw pics %>; 
      var ptype = <%= raw ptype %>; 
      var txtheader = <%= raw txtheader %>; 
      var txtbody = <%= raw txtbody %>; 
      window.setInterval(callme, 50000);
      callme();

      var k = -1;
      var picsm = <%= raw picsm %>; 
      var picqr = <%= raw picqr %>; 
      var txtheadersm = <%= raw txtheadersm %>; 
      var txtbodysm = <%= raw txtbodysm %>; 
      window.setInterval(callme2, 10000);
      callme2();

      function callme() {
        if (i < pics.length-1) {
            i = i+ 1; 
        }
        else {
            i=0;
        }
        if (ptype[i]=="VIDEO") {
            var img = document.createElement("VIDEO");
            img.src = pics[i];
            img.width = 800;
            img.height = 600;
            img.loop = "loop";
            img.autoplay = true;
            img.controls = false;
            $('#image_kampagne').html(img); 
        } else {
            var img = document.createElement("IMG");
            img.src = pics[i];
            $('#image_kampagne').html(img); 
        }
        $('#message_header_kampagne').text(txtheader[i]);
        $('#message_body_kampagne').text(txtbody[i]);
        
        $('#item_kampagne').hide();
        $('#item_kampagne').fadeIn(5000);
      }
      
      function callme2() {
        if (k < picsm.length-1) {
            k = k+ 1; 
        }
        else {
            k=0;
        }
        var img = document.createElement("IMG");
        img.src = picsm[k];
        $('#image_sideinfo').html(img); 
        $('#message_header_sideinfo').text(txtheadersm[k]);
        $('#message_body_sideinfo').text(txtbodysm[k]);
        var img2 = document.createElement("IMG");
        img2.src = picqr[k];
        $('#qrcode_sideinfo').html(img2); 
        $('#signage_qrcode').html(img2); 
        
        $('#item_sideinfo').hide();
        $('#item_sideinfo').fadeIn(5000);
      }

</script>