<% i=0 %>
<div class="signage">

    <%= image_tag("dig1.png", class:"signage_background") %>
    
    <div class="signage_footer">
        hier könnte Ihre Message stehen    
    </div>
    
    <div id="image" class="signage_infopic">
    </div>

    <div id="signage_message">
    </div>
    
    <div id="qrcode" class="signage_qrcode">
      <% hash = qrcodeimg(Company.find(1), :small) %>
      <%= link_to Company.find(1) do %>
        <%= hash["qr_code"] %>
      <% end %>
    </div>
    
</div>

<% txts = [] %>
<% pics = [] %>
<% User.all.each do |u| %>
<% if u.avatar_file_name %>
    <% imag = image_tag(u.avatar(:medium))-%>
    <% pos1 = imag.index('"') %>
    <% pos2 = imag.rindex('alt') %>
    <% pics << imag[pos1+1..pos2-2] %>
    <% txts << u.fullname %>
<% end %>
<% end %>
<% pics %>
<% txts %>


<script>
      var i = -1;
      var pics = <%= raw pics %>; 
      var txts = <%= raw txts %>; 
      window.setInterval(callme, 5000);

      function callme() {
            if (i < pics.length-1) {
                i = i+ 1; 
            }
            else {
                i=0;
            }
            var img = document.createElement("IMG");
            img.src = pics[i];
            img.setAttribute('class', 'signage_infopic');
            //img.height = 250;
            //img.width = 250;
            $('#image').html(img); 
            
            $('#signage_message').text(txts[i]);
            $('#signage_message').fadeIn(2000);
            $('#signage_message').fadeOut(1000);

      }
      
      function picture(i) {
          alert(i);
      }
</script>