<h1>Migrate from TGCloud</h1>

<%= @array %><br>

<% @compex = Company.where('name=?',"Thurgauer Kantonalbank").first %>
<% if !@compex %>
    <% @c = Company.new %>
    <% @c.user_id = (User.where("email=?","curdin.schenkel@tkb.ch").first).id %>
    <% @c.name = "Thurgauer Kantonalbank" %>
    <% @c.address1 = "Bankplatz 1" %>
    <% @c.address2 = "Weinfelden" %>
    <% @c.address3 = "" %>
    <% @c.status = "OK" %>
    <% @c.active = true %>
    <% @c.save %>
    <% "MIGRATED!!!" + @c.name %><br>
<% else %>
    <% "NOT MIGRATED!!!" + @compex.name %><br>
<% end %>

<!--<!-USER MIGRATION--->
<%= link_to home_migrate_path(:topic => "user", :actioncode => "add", :scope => "all") do %>
  <span><i class="btn btn-default fa fa-user">User all</i></span>
<% end %>
<%= link_to home_migrate_path(:topic => "user") do %>
  <span><i class="btn btn-default fa fa-user">User sel</i></span>
<% end %>
<!--<!-PROJEKTE MIGRATION--->
<%= link_to home_migrate_path(:topic => "projekte") do %>
  <span><i class="btn btn-default fa fa-list">Projekte sel</i></span>
<% end %>
<!--<!-PROJEKTE MIGRATION--->
<%= link_to home_migrate_path(:topic => "gruppen", :actioncode => "all") do %>
  <span><i class="btn btn-default fa fa-list">Gruppen sel</i></span>
<% end %>

<% if @user %>
    <table class="table table-striped">
    <thead>
        <td>email</td>
        <td>Name</td>
        <td>Lastname</td>
        <td>Action</td>
    </thead>
    <body>
    <% @user.each do |p| %>
        <tr>
            <td><%= p["email"] %></td>
            <td><%= p["name"] %></td>
            <td><%= p["lastname"] %></td>
            <% @userex = User.where('email=?',p["email"]).first %>
            <td>
            <% if !@userex %>
                <%= link_to home_migrate_path(:topic => "user", :actioncode => "add", :email => p["email"]) do %>
                  <i class="btn btn-primary fa fa-plus"></i>
                <% end %>
            <% else %>
                <%= link_to home_migrate_path(:topic => "user", :actioncode => "del", :email => p["email"]) do %>
                  <i class="btn btn-danger fa fa-trash"></i>
                <% end %>
            <% end %>
            </td>
        </tr>
    <% end %>
</body>    </table>
<% end %>

<% if @projekte %>
    <table class="table table-striped">
    <thead>
        <td>Name</td>
        <td>von</td>
        <td>bis</td>
        <td>Planungsdaten</td>
        <td>Zeiterfassung</td>
        <td>Berechtigungen</td>
        <td>Action</td>
    </thead>
    <body>
    <% @projekte.each do |p| %>
        <% @mompex = Mobject.where('name=?', p["name"]).first %>
        <tr>
            <td>
                <%= p["name"] %>
                <%= @mompex.id.to_s if @mompex %>
            </td>
            <td><%= p["date_from"] %></td>
            <td>
                <% if p["date_to"] and p["date_to"].to_date <= Date.today %>
                    <b><%= p["date_to"] %></b>
                <% else %>
                    <%= p["date_to"] %>
                <% end %>
            </td>
            <% if !@mompex %>
                <td></td><td></td><td></td>
                <td>
                <%= link_to home_migrate_path(:topic => "projekte", :actioncode => "add", :oname => p["name"]) do %>
                  <i class="btn btn-primary fa fa-plus"></i>
                <% end %>
                </td>
            <% else %>
                <td><%= @mompex.plannings.count if @mompex.plannings %>
                    <%= link_to home_migrate_path(:topic => "projekte", :actioncode => "plannings", :id => p["mobject_id"], :newid => @mompex.id) do %>
                      <i class="btn btn-primary btn-xs fa fa-wrench"></i>
                    <% end %>
                </td>
                <td>
                    <%= @mompex.timetracks.count if @mompex.timetracks %>
                    <%= link_to home_migrate_path(:topic => "projekte", :actioncode => "timetracks", :id => p["mobject_id"], :newid => @mompex.id) do %>
                      <i class="btn btn-primary btn-xs fa fa-wrench"></i>
                    <% end %>
                </td>
                <td>
                    <%= @mompex.madvisors.where('role=?',"projekte").count if @mompex.madvisors %>
                </td>
                <td>
                    <%= link_to home_migrate_path(:topic => "projekte", :actioncode => "del", :oname => p["name"]) do %>
                      <i class="btn btn-danger fa fa-trash"></i>
                    <% end %>
                </td>
            <% end %>
        </tr>
    <% end %>
</body>    </table>
<% end %>

<% if @gruppen %>
    <table class="table table-striped">
    <thead>
        <td>Name</td>
        <td>Owner</td>
        <td>Members</td>
        <td>Action</td>
    </thead>
    <body>
    <% @gruppen.each do |p| %>
        <% @mompex = Mobject.where('name=?', p["name"]).first %>
        <tr>
            <td>
                <%= p["name"] %>
                <%= @mompex.id.to_s if @mompex %>
            </td>
            <td>
                <%= User.where('email=?',p["email"]).first.fullname %>
            </td>
            <td>
                <% if @mompex %>
                    <%= @mompex.madvisors.where('role=?',"gruppen").count %>
                    <%= link_to home_migrate_path(:topic => "gruppen", :actioncode => "addmember", :group_name => p["name"], :email => p["email"]) do %>
                      <i class="btn btn-primary fa fa-plus"></i>
                    <% end %>
                    <%= link_to home_migrate_path(:topic => "gruppen", :actioncode => "delmember", :group_name => p["name"]) do %>
                      <i class="btn btn-danger fa fa-trash"></i>
                    <% end %>
                <% end %>
            </td>
            <td>
                <% if @mompex %>
                    <%= link_to home_migrate_path(:topic => "gruppen", :actioncode => "delgroup", :group_name => p["name"]) do %>
                      <i class="btn btn-danger fa fa-trash"></i>
                    <% end %>
                <% else %>
                    <%= link_to home_migrate_path(:topic => "gruppen", :actioncode => "addgroup", :group_name => p["name"], :email => p["email"]) do %>
                      <i class="btn btn-primary fa fa-plus"></i>
                    <% end %>
                <% end %>
            </td>
        </tr>
    <% end %>
</body>    </table>
<% end %>

