<%= link_to home_temptest_path(:topic => "institutionen_ressourcen", :year => @c_year, :month => @c_month, :mode => "alles", :scope => @c_scope)  do %>
  <span><i class="btn btn-<%= @btn_a %> fa fa-fullscreen"> alles</i></span>
<% end %>
<%= link_to home_temptest_path(:topic => "institutionen_ressourcen", :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope)  do %>
  <span><i class="btn btn-<%= @btn_y %> fa fa-calendar"> <%= @c_year %></i></span>
<% end %>

<% if @c_mode != "alles" %>
  <%= link_to home_temptest_path(:topic => "institutionen_ressourcen", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
    <i class="btn btn btn-primary fa fa-chevron-left"></i>
  <% end %>
  <%= link_to home_temptest_path(:topic => "institutionen_ressourcen", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
    <i class="btn btn-primary fa fa-chevron-right"></i>
  <% end %>
<% end %>

<%= link_to home_temptest_path(:topic => "institutionen_ressourcen", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "kosten") do %>
  <span><i class="btn btn-<%= @btn_sc %> fa fa-euro"></i></span>
<% end %>
<%= link_to home_temptest_path(:topic => "institutionen_ressourcen",  :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "aufwand") do %>
  <span><i class="btn btn-<%= @btn_sa %> fa fa-safari"></i></span>
<% end %>

<%= link_to home_temptest_path(:topic => "institutionen_ressourcen",  :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :export => true) do %>
  <span><i class="btn btn-inactive fa fa-book"></i></span>
<% end %>
        
<!--<br><br>-->
<!--PARAMS are...<br>-->
<!--Scope <%= @c_scope %><br>-->
<!--Mode  <%= @c_mode %><br>-->
<!--start <%= @date_start %><br>-->
<!--end   <%= @date_end %><br>-->
<!--year  <%= @c_year %><br>-->
<!--month <%= @c_month %><br>-->
<!--<br><br>-->

<!--<% Mobject.where('mtype=?',"projekte").each do |p| %>-->
<!--    <%= dat = controlRes(p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %><br>-->
<!--<% end %>-->

<div class="container">
    <div class="col-md-12">
        <div class="chart-container">
            <canvas id="myChart0"></canvas>
        </div>
    </div>
    
    <div class="col-md-12">
        <div class="chart-container">
            <canvas id="myChart0P"></canvas>
        </div>
    </div>
    
    <% Mobject.where('mtype=?',"projekte").each do |m| %>
        <!--<%= m.name + " " + m.id.to_s %>-->
        <!--<%= controlRes(m, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) if false %>-->
        <!--<br><br>-->
        <div class="col-md-4">
            <div class="chart-container">
                <canvas id="myChart<%= m.id %>"></canvas>
            </div>
        </div>
    <% end %>
</div>

<script>
$(document).ready(function(){
    <% Mobject.where('mtype=?',"projekte").each do |p| %>
        <% dat = controlRes(p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
        var ctx<%= p.id %> = document.getElementById("myChart<%= p.id %>");
        var myChart<%= p.id %> = new Chart(ctx<%= p.id %>, {
          type: 'line',
            data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                    datasets: [{
                        label: 'IST Aufwand in h',
                        data: <%= raw dat[:dataTT] %>,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'PLAN Aufwand in h',
                        data: <%= raw dat[:dataPT] %>,
                        backgroundColor: [
                            'rgba(25, 99, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }                    
                    ]
                },
            options: {
                title: {
                    display: true,
                    text: '<%= p.name %>'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })
    <% end %>

});
</script>

<script>
$(document).ready(function(){
    var ctx0 = document.getElementById("myChart0");
    var myChart0 = new Chart(ctx0, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% Mobject.where('mtype=?',"projekte").each do |p| %>
                    <% dat = controlRes(p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= p.name %>',
                    data: <%= raw dat[:dataTT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand IST'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
});
</script>

<script>
$(document).ready(function(){
    var ctx0P = document.getElementById("myChart0P");
    var myChart0P = new Chart(ctx0P, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% Mobject.where('mtype=?',"projekte").each do |p| %>
                    <% dat = controlRes(p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= p.name %>',
                    data: <%= raw dat[:dataPT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand PLAN'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
});
</script>

