<h2>Toggle Switch</h2>

<label class="switch">
  <input type="checkbox">
  <span class="sliders"></span>
</label>
Hallo
<label class="switch">
  <input type="checkbox" checked>
  <span class="sliders"></span>
</label><br><br>

<label class="switch">
  <input type="checkbox">
  <span class="sliders round"></span>
</label>

<label class="switch">
  <input type="checkbox" checked>
  <span class="sliders round"></span>
</label>

<br>

     <% @user = User.find(1) %>
      <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label I18n.t :email %>
        <%= f.email_field :email, autofocus: true, class:"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label I18n.t :password %>
        <%= f.password_field :password, autocomplete: "off", class:"form-control"%>
      </div>
      
        <label class="switch">
          <%= f.check_box :remember_me, :data => {"class" => "sliders"} %>
          <span class="sliders round"></span>
        </label>
      </div>
      
      <br><br>
      <div class="actions">
            <%= f.submit (I18n.t :anmelden), class:"btn btn-primary btn-lg btn-submit" %>
      </div>
    <% end %>
  </div>
