  
  
   <div id="chart_div"></div>
   <div id="curve_chart"></div>

   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }
    
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          backgroundColor:'transparent',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
     </script>
     
     
<div class="news blue">

  <span>News</span>

  <ul>
    
    <% User.all.each do |u| %>
      <li><%= showImage2(:small, u, false) %><%= u.name %></li>
      <li><%= image_tag(u.avatar_file_name,:size => :small) + u.name %></li>
      <li><%= u.fullname %></li>
    <% end %>

    <li><a href="#"><%= image_tag('gruppen.png', :size => "20x20") %>Neues Projekt von Thrugaur KB</li>

    <li><a href="#">Neuer Artikel von Hans Heini</a></li>

    <li><a href="#">Text 3</a></li>

    <li><a href="#">Text 4</a></li>

  </ul>

</div>

                  <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                      <% i=0 %>
                      <% Mobject.order(created_at: :desc).last(5).each do |m| %>
                        <% if i == 0 %>
                          <% active = "class='active'" %>
                        <% else %>
                          <% active = "" %>
                        <% end %>
                        <% line = "<li data-target='#myCarousel' data-slide-to='" + i.to_s + "' " + active + "></li>" %>
                        <%= line.html_safe %>
                        <% i = i+ 1 %>
                      <% end %>
                    </ol>
                    
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                      <% i=0 %>
                      <% Mobject.order(created_at: :asc).last(5).each do |m| %>
                          <% if i==0 %>
                            <div class="item active">
                            <% i = i + 1 %>
                          <% else %>
                            <div class="item">
                          <% end %>
                          <h1><%= m.name %></h1>
                          <%= link_to m do %>
                            <% if m.mdetails == nil or m.mdetails.count == 0  %>
                              <%= image_tag(m.mtype + ".png", :width => "100%" ) %>
                            <% else %>
                              <% pic = m.mdetails.first %>
                              <% if pic.avatar_file_name %>
                                <%= image_tag(pic.avatar, :width => "100%") %>
                              <% else %>
                                <%= image_tag(m.mtype + ".png", :width => "100%") %>
                              <% end %>
                            <% end %>
                          <% end %>
                          </div>
                      <% end %>
                    </div>
                    
                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                      <span class="glyphicon glyphicon-chevron-left"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                      <span class="glyphicon glyphicon-chevron-right"></span>
                      <span class="sr-only">Next</span>
                    </a>
                    
                  </div>

                </div>
