

    <%= form_for @answer do |f| %>

        <% if @answer.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@answer.errors.count, "error") + " " + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @answer.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body ueberschrift">
                  <%= header(@answer.question.name) %>
                </div>
            </div>
          <div class="col-md-6">
              <div class="panel-body ueberschrift">
                  <% case @answer.question.mcategory.name.upcase %>
                    <% when "multiple".upcase, "single".upcase %>
                      <div class="form-group">
                        <%= f.label (I18n.t :antwortoption) %>
                        <%= f.text_field :name, class:"form-control"%>
                      </div>
                  <% end %>
                  <%= f.hidden_field :question_id, class:"form-control" %>
                  <div class="actions">
                    <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg btn-submit"%>
                    <%= link_to questions_path(:id => @answer.question_id) do %>
                      <i class="btn btn-default btn-lg btn-submit">Abbrechen</i>
                    <% end %>
                  </div>
              </div>
          </div>
        </div>
    <% end %>
