<br>
<div class="contact-form">
<div class="container"
    <div class="jumbotron">

     <%= form_for @company, html: {multipart: true}  do |f| %>

         <% if @company.errors.any? %>
             <div id="error_explanation">
               <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>
               <ul>
                   <% @company.errors.full_messages.each do |message| %>
                     <li><%= message %></li>
                   <% end %>
               </ul>
             </div>
         <% end %>

        <%= header(@company.name) %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'

          <div class="form-group">
            <%= f.label "Firmenlogo" %><br/>
             <% if @company.avatar_file_name %>
                 <%= image_tag @company.avatar(:medium) %>
             <% end %>
            <%= f.file_field :avatar, class:"form-control" %>
         </div>
         <div class="form-group">
           <%= f.label "Name" %><br/>
           <%= f.text_field :name, autofocus: true, class:"form-control"%>
         </div>
         <div class="form-group">
           <%= f.label "Branche" %><br/>
             <%= f.collection_select :mcategory_id, Mcategory.where('ctype=?',"branche").order(:name), :id, :name, {}, class:"form-control" %>
         </div>
         <div class="form-group">
           <%= f.label "Beschreibung" %><br/>
           <%= f.text_area :description, rows: 5, class:"form-control"%>
         </div>
         <div class="form-group">
           <%= f.label "Stichworte" %><br/>
           <%= f.text_field :stichworte, class:"form-control"%>
         </div>
         <div class="form-group">
           <%= f.label "Homepage" %><br/>
           <%= f.text_field :homepage, class:"form-control"%>
         </div>
         <% if user_signed_in? %>
             <% if current_user.superuser %>
                 <div class="form-group">
                   <input type="checkbox" name="my-checkbox3" checked>
                   <%= f.label "Partner" %>
                 </div>
             <% end %>
         <% end %>
         <%= f.hidden_field :user_id %>
         <div class="form-group">
            <%= f.label "Adresse" %><br/>
            <%= f.text_field :address1, class:"form-control" %>
            <%= f.text_field :address2, class:"form-control" %>
            <%= f.text_field :address3, class:"form-control" %>
         </div>
        <%= f.hidden_field :status, class:"form-control" %>
         <div class="form-group">
            <%= f.label "Telefon" %><br/>
            <%= f.text_field :phone1, class:"form-control" %>
            <%= f.text_field :phone2, class:"form-control" %>
         </div>
        <div class="form-group">
            <label class="checkbox-inline">
               <%= f.check_box :partner, class:"customcheck" %><%= I18n.t(:partner) %>
            </label>
            <br>
            <label class="checkbox-inline">
               <%= f.check_box :active, class:"customcheck" %><%= I18n.t(:active) %>
            </label>
        </div>
         <div class="actions">
            <%= f.submit "Speichern",  class:"btn btn-primary btn-lg btn-download"%>
           <%= link_to @company do %>
             <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
           <% end %>
         </div>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
              <%= image_tag("firma.jpg", class: "img-responsive") %>
          </div>
        </div>
     <% end %>                
  </div>
</div>
<br>