<%= indexheader4((I18n.t :institutionen), "institutionen", nil, @filter_id, @search, nil) %>

  <!--<div class="row">-->
  <!--  <% if user_signed_in? %>-->
  <!--      <%= header("<button type='button' class='btn btn-default fa fa-filter' data-toggle='collapse' data-target='#demo'></button> Institutionen <span class='badge'>" + @companz.to_s + "</span>") %>-->
  <!--  <% else %>-->
  <!--      <%= header(I18n.t(:institutionen).downcase + " <span class='badge'>" + @companz.to_s + "</span>") %>-->
  <!--  <% end %>-->
  <!--  <div id="demo" class="collapse">-->
  <!--    <% if user_signed_in? %>-->
  <!--          <%= link_to new_search_path(:user_id => current_user.id, :search_domain => "institutionen", :controller_name => @controller_name) do %>-->
  <!--              <i class="btn btn-primary fa fa-plus">Abfrage</i>-->
  <!--          <% end %>-->
  <!--          <% @searches = Search.where('search_domain=? and user_id=?', "institutionen", current_user.id) %>-->
  <!--          <%= build_medialistNew(@searches, "searches", nil, nil, nil) %>-->
  <!--    <% end %>-->
  <!--  </div>-->
  <!--</div>-->

    <div class="panel">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @companies, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <%= build_medialistNew(@companies,"companies",nil, nil, nil) %>
