<%= header4_cicd(@company.name, nil, @company, nil, "institutionen", @company, @topic) %>

       <% case @topic %>
        <% when "institutionen_info" %>
        
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="panel-body">
                 <% case @company.status %>
                    <% when "CHECK" %>
                      <i class="fa fa-question-sign"></i>
                    <% when "OK" %>
                      <i class="fa fa-ok-circle"></i>
                    <% when "NOK" %>
                      <i class="fa fa-ban-circle"></i>
                  <% end %>
                  <b><%= (I18n.t :status) %></b>
                  <br>
                  <%= showImage2(:medium, @company, true) %>
                  <br>
                  <b><i class="fa fa-folder-open"></i><%= (I18n.t :branche) %></b><br>
                  <%= @company.mcategory.name %>
                  <br><br>
                  <b><i class="fa fa-home"></i><%= (I18n.t :adresse) %></b><br>
                  <% if @company.address1 and @company.address1 != "" %>
                    <%= @company.address1 %><br> 
                  <% end %>
                  <% if @company.address2 and @company.address2 != "" %>
                    <%= @company.address2 %><br> 
                  <% end %>
                  <% if @company.address3 and @company.address3 != "" %>
                    <%= @company.address3 %><br> 
                  <% end %>
                  <br>
                  <b><%= (I18n.t :verantwortlich) %></b><br>
                  <%= showImage2(:small, @company.user, true) %>
                  <br>
                  <%= @company.user.name + " " + @company.user.lastname %>
                  <br>
                  <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite><br>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6">
              <div class="panel-body">
                <% if $activeapps.include?("institutionenaktivitaeten") or (user_signed_in? and current_user.superuser) %>
                  <div class="chart-container">
                      <canvas id="myPieChart"></canvas>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

        <% when "institutionen_params" %>
        
          <%= build_medialistNew(@company.company_params, "company_params", nil, nil, nil) %>

        <% when "institutionen_projektliste" %>
          <% moblist = zugriffsliste(@company.mobjects, "projekte", current_user) %>
          <%= build_medialistNew(@company.mobjects.mobshow("projekte",moblist), "projekte", nil, nil, nil) %>

        <% when "institutionen_projektplan" %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektplan",  :mode => "Jahr", :year => @c_year, :show => @c_show, :class => @c_class)  do %>
            <span><i class="btn btn-active fa fa-calendar"> <%= @c_year %></i></span>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektplan",  :mode => "Jahr", :dir => "<", :year => @c_year, :show => @c_show, :class => @c_class )  do %>
            <i class="btn btn-primary fa fa-chevron-left"></i>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektplan",  :mode => "Jahr", :dir => ">", :year => @c_year, :show => @c_show , :class => @c_class) do %>
            <i class="btn btn-primary fa fa-chevron-right"></i>
          <% end %>
          <% moblist = zugriffsliste(@company.mobjects, "projekte", current_user) %>
          <%= build_mediaTable(@company.mobjects.mobshow2("projekte",moblist, @c_year.to_s), "projekte", @c_year.to_s, nil, nil) %>

        <% when "institutionen_projektressourcen" %>
          <% case @c_scope %>
            <% when "aufwand" %>
              <% btn_sa = "active" %>
              <% btn_sc = "inactive" %>
            <% when "kosten" %>
              <% btn_sc = "active" %>
              <% btn_sa = "inactive" %>
          <% end %>
          <% @date_start %>
          <% @date_end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen", :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope)  do %>
            <span><i class="btn btn-active fa fa-calendar"> <%= @c_year %></i></span>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
            <i class="btn btn btn-primary fa fa-chevron-left"></i>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>
            <i class="btn btn-primary fa fa-chevron-right"></i>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "kosten") do %>
            <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
          <% end %>
          <%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen",  :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "aufwand") do %>
            <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
          <% end %>
          <!--<%= link_to company_path(:id =>  @company.id, :topic => "institutionen_projektressourcen",  :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :export => true) do %>-->
          <!--  <span><i class="btn btn-inactive fa fa-book"></i></span>-->
          <!--<% end %>-->
          <div class="container">
              <div class="col-md-6">
                  <div class="chart-container">
                      <canvas id="myChart0"></canvas>
                  </div>
              </div>
              
              <div class="col-md-6">
                  <div class="chart-container">
                      <canvas id="myChart0P"></canvas>
                  </div>
              </div>
              
              <% @company.mobjects.where('mtype=? and parent=?',"projekte",0).each do |m| %>
                  <!--<%= m.name + " " + m.id.to_s %>-->
                  <!--<%= controlRes(m, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) if false %>-->
                  <!--<br><br>-->
                  <div class="col-md-4">
                      <div class="chart-container">
                          <canvas id="myChart<%= m.id %>"></canvas>
                      </div>
                  </div>
              <% end %>
          </div>



        <% when "institutionen_partnerlinks" %>
          <%= build_medialistNew(@company.partner_links, "partner_links", nil, nil, nil) %>

        <% when "institutionen_stellvertretungen" %>
          <%= build_medialistNew(@company.deputies, "deputies", nil, nil, nil) %>

        <% when "institutionen_projektilv" %>
          <div class="row">
            <div class='col-xs-12'>
              <div class='panel-body'>
                
                <% case @c_mode %>
                  <% when "Monat" %>
                    <% btn_m = "active" %>
                    <% btn_y = "inactive" %>
                  <% when "Jahr" %>
                    <% btn_y = "active" %>
                    <% btn_m = "inactive" %>
                <% end %>
                <% @date_start %>
                <% @date_end %>
                
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_projektilv",  :year => @c_year, :month => @c_month, :mode => "Monat") do %>
                  <span><i class="btn btn-<%= btn_m %> fa fa-calendar"> <%= @c_month %></i></span>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_projektilv", :year => @c_year, :month => @c_month, :mode => "Jahr")  do %>
                  <span><i class="btn btn-<%= btn_y %> fa fa-calendar"> <%= @c_year %></i></span>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_projektilv",  :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode)  do %>
                  <i class="btn btn-primary fa fa-chevron-left"></i>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_projektilv",  :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode) do %>
                  <i class="btn btn-primary fa fa-chevron-right"></i>
                <% end %>
                <% if @filename %>
        	        <%= link_to @filename.remove("public") do %>
                    <span><i class="btn btn-active fa fa-cloud-download"></i></span>
                  <% end %>
                <% end %>

               <br><br>
               <table class="table table-striped">

                 <thead>
                   <th>
                     Periodizität
                   </th>
                   <th>
                     Periode
                   </th>
                   <th>
                     Projekt
                   </th>
                   <th>
                     P-KST
                   </th>
                   <th>
                     P-Auftragsnummer
                   </th>
                   <th>
                     Mitarbeiter
                   </th>
                   <th>
                     eMail
                   </th>
                   <th>
                     M-KST
                   </th>
                   <th align="right">
                     h-Satz STD
                   </th>
                   <th align="right">
                     h-Satz Projekt
                   </th>
                   <th align="right">
                     Aufwand in h
                   </th>
                   <th align="right">
                     Aufwand in Kosten
                   </th>
                   <th align="right">
                     Kosten
                   </th>
                 </thead>
                 
                 <% @export = [] %>
                 <% @projects = @company.mobjects.where('mtype=?',"projekte") %>
                 <% @projects.each do |p| %>
                 
                   <% @employees = p.timetracks.select("user_id").distinct %>

                   <% @employees.each do |e| %>

                     <% @repuser = User.find(e.user_id) %>
                     <% aufwand = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "aufwand", @date_start, @date_end).sum(:amount) %>
                     <% if !aufwand %>
                       <% aufwand = 0 %>
                     <% end %>
                     <% kosten = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "kosten", @date_start, @date_end).sum(:amount) %>
                     <% if !kosten %>
                       <% kosten = 0 %>
                     <% end %>

                     <% if aufwand != 0 or kosten != 0 %>
                       <% @export_row = Hash.new %>
                       
                       <tr>
                         <td><%= @c_mode %></td>
                         <% if @c_mode == "Jahr" %>
                           <td><%=  @c_year %></td>
                           <% @per = @c_year %>
                         <% end %>
                         <% if @c_mode == "Monat" %>
                           <td><%=  @c_month.to_s + "/" + @c_year.to_s %></td>
                           <% @per = @c_month.to_s + "/" + @c_year.to_s %>
                         <% end %>
                         <td><%= p.name %></td>
                         <% if p.costinfo and p.costinfo.length > 0 %>
                           <td><%= p.costinfo %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% if p.orderinfo and p.orderinfo.length > 0 %>
                           <td><%= p.orderinfo %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                     
                         <td><%= @repuser.name + " " + @repuser.lastname %></td>
                         <td><%= @repuser.email %></td>
                         <td><%= @repuser.costinfo %></td>
                         
                         <% if @repuser.rate %>
                           <td align="right"><%= sprintf("%5.2f",@repuser.rate) %></td>
                         <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% @pr = @repuser.madvisors.where('role=? and mobject_id=?', "projekte", p.id).first %>
                         <% if @pr and @pr.rate %>
                           <% @projectrate = @pr.rate %>
                         <% else %>
                           <% @projectrate = nil %>
                          <% end %>
                         <% if @projectrate %>
                           <td align="right"><%= sprintf("%5.2f", @projectrate) %></td>
                         <% else %>
                           <td></td>
                         <% end %>
                         <% if @projectrate %>
                           <% @rate = @projectrate %>
                         <% else %>
                           <% if @repuser.rate %>
                             <% @rate = @repuser.rate %>
                             <% if !@rate %>
                               <% @rate = 0 %>
                             <% end %>
                           <% else %>
                             <% @rate = 0 %>
                           <% end %>
                        <% end %>
    
                         <td align="right"><%= sprintf("%5.2f", aufwand) %></td>
                         <td align="right"><%= sprintf("%5.2f", (aufwand * @rate)) %></td>
                         <td align="right"><%= sprintf("%5.2f",kosten) %></td>
  
                         <% @export_row = {:periodicity => @c_mode, :period => @per, :projekt_name => p.name, :projekt_kst => p.costinfo, :projekt_auftragsnr => p.orderinfo, :mitarbeiter_name => @repuser.name + " " + @repuser.lastname, :mitarbeiter_email => @repuser.email, :mitarbeiter_kst => @repuser.costinfo, :mitarbeiter_rate => @repuser.rate, :mitarbeiter_prate => @projectrate, :aufwand_h => aufwand, :aufwand_k => aufwand*@rate, :kosten => kosten} %>
                         <% @export << @export_row %>
                         
                      </tr>
                    <% end %>
                   
                   <% end %>
  
                 <% end %>

               </table>               
             </div>
            </div>
          </div>
          <% if @filename %>
            <% exportdata(@export, @filename) %>
          <% end %>

    	 <% when "institutionen_charges" %>
    	   <% if true %>
              <%= build_medialistNew(@company.charges, "charges", nil, nil, nil) %>
          <% end %>
          <!--<%= build_medialistNew(Appparam.where('info=?', "payable"), "appparams", "company", nil, nil) %>-->


      <% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% if @topic == "institutionen_info" %>
  <script type="text/javascript">

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= raw @stats %>);
      var options = {
        title: "<%= (I18n.t :aktivitaeten) %>",
        pieHole: 0.4,
        backgroundColor:'transparent',
        height: 600,
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    };
  
  </script>
<% end %>

<script>
<% case @topic %>
  <% when "institutionen_info" %>
      document.addEventListener("turbolinks:load", function() {drawChart();})

<% end %>
</script>

<script>$('.dropdown-toggle').dropdown()</script>

<% if @topic == "institutionen_info" %>
<script>
$(document).ready(function(){
  var ctpie = document.getElementById("myPieChart");
  var myPieChart = new Chart(ctpie, {
    type: 'doughnut',
      data: {
          labels: <%= raw @pieLabel %>,
              datasets: [{
                  label: 'Aktivitäten',
                  data: <%= raw @pieData %>,
                  backgroundColor: [
                      <% for i in 0..10 %>
                      'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                      <% end %>
                  ],
                  borderColor: [
                      'rgba(54, 162, 235, 1)',
                  ],
                  borderWidth: 1
              }]
          },
      options: {
          title: {
              display: true,
              text: 'Aktivitäten'
          },
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  })
});
</script>
<% end %>

<% if @topic == "institutionen_projektressourcen" %>
<script>
  $(document).ready(function(){
    <% @company.mobjects.where('mtype=? and parent=?',"projekte",0).each do |p| %>
        <% dat = controlRes(nil, p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
        var ctx<%= p.id %> = document.getElementById("myChart<%= p.id %>");
        var myChart<%= p.id %> = new Chart(ctx<%= p.id %>, {
          type: 'line',
            data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                    datasets: [{
                        label: 'IST Aufwand in h',
                        data: <%= raw dat[:dataTT] %>,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    },
                    {
                        label: 'PLAN Aufwand in h',
                        data: <%= raw dat[:dataPT] %>,
                        backgroundColor: [
                            'rgba(25, 99, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(54, 162, 235, 1)',
                        ],
                        borderWidth: 1
                    }                    
                    ]
                },
            options: {
                title: {
                    display: true,
                    text: '<%= p.name %>'
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
        })
    <% end %>

    var ctx0 = document.getElementById("myChart0");
    var myChart0 = new Chart(ctx0, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% @company.mobjects.where('mtype=? and parent=?',"projekte",0).each do |p| %>
                    <% dat = controlRes(nil, p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= p.name %>',
                    data: <%= raw dat[:dataTT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand IST'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    var ctx0P = document.getElementById("myChart0P");
    var myChart0P = new Chart(ctx0P, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% @company.mobjects.where('mtype=? and parent=?',"projekte",0).each do |p| %>
                    <% dat = controlRes(nil, p, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= p.name %>',
                    data: <%= raw dat[:dataPT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand PLAN'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
});
</script>
<% end %>
