<%= header(@company.name) %>

<%= navigate2("institutionen", @company, @topic) %>

<div id="main">
  <div class="row">
      <div class='col-xs-12'>
      
       <% case @topic %>
        <% when "institutionen_info" %>
        
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <div class="panel-body">
                 <% case @company.status %>
                    <% when "CHECK" %>
                      <i class="fa fa-question-sign"></i>
                    <% when "OK" %>
                      <i class="fa fa-ok-circle"></i>
                    <% when "NOK" %>
                      <i class="fa fa-ban-circle"></i>
                  <% end %>
                  <b><%= (I18n.t :status) %></b>
                  <br>
                  <%= showImage2(:medium, @company, true) %>
                  <br>
                  <b><i class="fa fa-folder-open"></i><%= (I18n.t :branche) %></b><br>
                  <%= @company.mcategory.name %>
                  <br><br>
                  <b><i class="fa fa-home"></i><%= (I18n.t :adresse) %></b><br>
                  <% if @company.address1 and @company.address1 != "" %>
                    <%= @company.address1 %><br> 
                  <% end %>
                  <% if @company.address2 and @company.address2 != "" %>
                    <%= @company.address2 %><br> 
                  <% end %>
                  <% if @company.address3 and @company.address3 != "" %>
                    <%= @company.address3 %><br> 
                  <% end %>
                  <br>
                  <b><%= (I18n.t :verantwortlich) %></b><br>
                  <%= showImage2(:small, @company.user, true) %>
                  <br>
                  <%= @company.user.name + " " + @company.user.lastname %>
                  <br>
                  <cite><%= @company.created_at.strftime("%d.%m.%Y") %></cite><br>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <i class="fa fa-map-marker pull-left" onclick="return init_map(0);"></i>
              <div id="map">
                <div id="map-canvas"></div>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <div class="panel-body">
                <% if $activeapps.include?("institutionenaktivitaeten") or (user_signed_in? and current_user.superuser) %>
                    <i class="fa fa-map-marker pull-left" onclick="return drawChart();"></i>
                    <div id="piechart"></div>
                <% end %>
              </div>
            </div>
          </div>

        <% when "institutionen_projekte" %>
          <% moblist = zugriffsliste(@company.mobjects, current_user) %>
          <% moblist %>
          <%= build_medialistNew(@company.mobjects.mobshow("projekte",moblist), "mobjects", nil) %>

        <% when "institutionen_kampagnen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"kampagnen"),"mobjects", nil) %>

        <% when "institutionen_standorte" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"standorte"), "mobjects", nil) %>

        <% when "institutionen_sensoren" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"sensoren"), "mobjects", nil) %>

        <% when "institutionen_partnerlinks" %>
          <div class="panel-body">
            <% @company.partner_links.each do |pl| %>
                <div class="col-sm-6 col-md-4 col-lg-3">
                  <div class="thumbnail" align="center">
                    <anzeigetext>
                      <%= pl.name %><br>
                    </anzeigetext>
                    <ntext>
                    <%= pl.link %>
                    </ntext>
                    <ntext>
                    <%= align_text(pl.description) %>
                    </ntext>
                    <br>
                    <%= showImage2(:medium, pl, false) %>
                    <br>
                    <% if user_signed_in? %>
                      <% if current_user.id == @company.user_id %>
                        <% if @company.partner %>
                          <%= link_to edit_partner_link_path(pl) do %>
                            <i class="btn btn-primary fa fa-wrench"></i>
                          <% end %>
                          <%= link_to pl, method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                            <i class="btn btn-danger fa fa-trash"></i>
                          <% end %>
                        <% end %>
                      <% end %>
                    <% end %>
                    <br><br>
                  </div>
                 </div>
            <% end %>
          </div>
          
        <!--########################################################################################################################-->
        <!--# inactive code-->
        <!--########################################################################################################################-->
        <% when "institutionen_angebote" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"angebote"), "mobjects", nil) %>
        <% when "institutionen_stellenanzeigen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"stellenanzeigen"), "mobjects", nil) %>
        <% when "institutionen_kleinanzeigen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"kleinanzeigen"), "mobjects", nil) %>
        <% when "institutionen_vermietungen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"vermietungen"), "mobjectss", nil) %>
        <% when "institutionen_veranstaltungen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"veranstaltungen"), "mobjects", nil) %>
        <% when "institutionen_sponsorenengagements" %>
          <%= build_medialistNew(@company.msponsors, "msponsors", "objekte") %>
        <% when "institutionen_ausflugsziele" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"ausflugsziele"), "mobjects", nil) %>
        <% when "institutionen_ausschreibungen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"ausschreibungen"), "mobjects", nil) %>
        <% when "institutionen_crowdfunding" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"crowdfunding"), "mobjects", nil) %>
        <% when "institutionen_crowdfundingbeitraege" %>
          <%= build_medialistNew(@company.mstats, "mstats", nil) %>
        <% when "institutionen_innovationswettbewerbe" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"innovationswettbewerbe"), "mobjects", nil) %>
        <% when "institutionen_umfragen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"umfragen"), "mobjects", nil) %>
        <% when "institutionen_publikationen" %>
          <%= build_medialistNew(@company.mobjects.where('mtype=?',"publikationen"), "mobjects", nil) %>
        <% when "institutionen_stellvertretungen" %>
          <%= build_medialistNew(@company.deputies, "deputies", nil) %>

        <% when "institutionen_export" %>
          <div class="row">
            <div class='col-xs-12'>
              <div class='panel-body'>
                
                <% case @c_mode %>
                  <% when "Monat" %>
                    <% btn_m = "active" %>
                    <% btn_y = "inactive" %>
                  <% when "Jahr" %>
                    <% btn_y = "active" %>
                    <% btn_m = "inactive" %>
                <% end %>
                <% @date_start %>
                <% @date_end %>
                
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_export",  :year => @c_year, :month => @c_month, :mode => "Monat") do %>
                  <span><i class="btn btn-<%= btn_m %> fa fa-calendar"> <%= @c_month %></i></span>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_export", :year => @c_year, :month => @c_month, :mode => "Jahr")  do %>
                  <span><i class="btn btn-<%= btn_y %> fa fa-calendar"> <%= @c_year %></i></span>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_export",  :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode)  do %>
                  <i class="btn btn-primary fa fa-chevron-left"></i>
                <% end %>
                <%= link_to company_path(:id => @company.id, :topic => "institutionen_export",  :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode) do %>
                  <i class="btn btn-primary fa fa-chevron-right"></i>
                <% end %>
                <% if @filename %>
        	        <%= link_to @filename.remove("public") do %>
                    <span><i class="btn btn-active fa fa-cloud-download"></i></span>
                  <% end %>
                <% end %>

               <br><br>
               <table class="table table-striped">

                 <thead>
                   <th>
                     Periodizität
                   </th>
                   <th>
                     Periode
                   </th>
                   <th>
                     Projekt
                   </th>
                   <th>
                     P-KST
                   </th>
                   <th>
                     P-Auftragsnummer
                   </th>
                   <th>
                     Mitarbeiter
                   </th>
                   <th>
                     eMail
                   </th>
                   <th>
                     M-KST
                   </th>
                   <th align="right">
                     h-Satz STD
                   </th>
                   <th align="right">
                     h-Satz Projekt
                   </th>
                   <th align="right">
                     Aufwand in h
                   </th>
                   <th align="right">
                     Aufwand in Kosten
                   </th>
                   <th align="right">
                     Kosten
                   </th>
                 </thead>
                 
                 <% @export = [] %>
                 <% @projects = @company.mobjects.where('mtype=?',"projekte") %>
                 <% @projects.each do |p| %>
                 
                   <% @employees = p.timetracks.select("user_id").distinct %>

                   <% @employees.each do |e| %>

                     <% @repuser = User.find(e.user_id) %>
                     <% aufwand = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "aufwand", @date_start, @date_end).sum(:amount) %>
                     <% if !aufwand %>
                       <% aufwand = 0 %>
                     <% end %>
                     <% kosten = @repuser.timetracks.where('mobject_id=? and costortime=? and datum >=? and datum <=?', p.id, "kosten", @date_start, @date_end).sum(:amount) %>
                     <% if !kosten %>
                       <% kosten = 0 %>
                     <% end %>

                     <% if aufwand != 0 or kosten != 0 %>
                       <% @export_row = Hash.new %>
                       
                       <tr>
                         <td><%= @c_mode %></td>
                         <% if @c_mode == "Jahr" %>
                           <td><%=  @c_year %></td>
                           <% @per = @c_year %>
                         <% end %>
                         <% if @c_mode == "Monat" %>
                           <td><%=  @c_month.to_s + "/" + @c_year.to_s %></td>
                           <% @per = @c_month.to_s + "/" + @c_year.to_s %>
                         <% end %>
                         <td><%= p.name %></td>
                         <% if p.costinfo and p.costinfo.length > 0 %>
                           <td><%= p.costinfo %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% if p.reward and p.reward.length > 0 %>
                           <td><%= p.reward %></td>
                        <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                     
  
                         <td><%= @repuser.name + " " + @repuser.lastname %></td>
                         <td><%= @repuser.email %></td>
                         <td><%= @repuser.costinfo %></td>
                         
                         <% if @repuser.rate %>
                           <td align="right"><%= sprintf("%5.2f",@repuser.rate) %></td>
                         <% else %>
                           <td class="color_issue"></td>
                         <% end %>
                         <% @pr = @repuser.madvisors.where('role=? and mobject_id=?', "projekte", p.id).first %>
                         <% if @pr and @pr.rate %>
                           <% @projectrate = @pr.rate %>
                         <% else %>
                           <% @projectrate = nil %>
                          <% end %>
                         <% if @projectrate %>
                           <td align="right"><%= sprintf("%5.2f", @projectrate) %></td>
                         <% else %>
                           <td></td>
                         <% end %>
                         <% if @projectrate %>
                           <% @rate = @projectrate %>
                         <% else %>
                           <% if @repuser.rate %>
                             <% @rate = @repuser.rate %>
                             <% if !@rate %>
                               <% @rate = 0 %>
                             <% end %>
                           <% else %>
                             <% @rate = 0 %>
                           <% end %>
                        <% end %>
    
                         <td align="right"><%= sprintf("%5.2f", aufwand) %></td>
                         <td align="right"><%= sprintf("%5.2f", (aufwand * @rate)) %></td>
                         <td align="right"><%= sprintf("%5.2f",kosten) %></td>
  
                         <% @export_row = {:periodicity => @c_mode, :period => @per, :projekt_name => p.name, :projekt_kst => p.costinfo, :projekt_auftragsnr => p.reward, :mitarbeiter_name => @repuser.name + " " + @repuser.lastname, :mitarbeiter_email => @repuser.email, :mitarbeiter_kst => @repuser.costinfo, :mitarbeiter_rate => @repuser.rate, :mitarbeiter_prate => @projectrate, :aufwand_h => aufwand, :aufwand_k => aufwand*@rate, :kosten => kosten} %>
                         <% @export << @export_row %>
                         
                      </tr>
                    <% end %>
                   
                   <% end %>
  
                 <% end %>

               </table>               
             </div>
            </div>
          </div>
          <% if @filename %>
            <% exportdata(@export, @filename) %>
          <% end %>

    	 <% when "institutionen_charges" %>
    	    <% if false %>
          <%= build_medialistNew(@company.charges, "charges", nil) %>
          <br><br>
          <% end %>
          <%= build_medialistNew(Appparam.where('info=?', "payable"), "appparams", "company") %>
          <br><br>

    	 <% when "institutionen_kundenbeziehungen" %>
          <% hash = Hash.new %>
          <% hash = {:company_id => @company.id} %>
          <div class="panel-body">
            <%= build_medialistNew(@company.customers, "partners", hash) %>
          </div>
          <div class="panel-body">
            <%= build_medialistNew(Company.where('partner=?',true), "nopartners", hash) %>
          </div>
        <% when "institutionen_transaktionen" %>
          <div class="panel-body">
            <%= build_medialistNew(@company.transactions, "transactions", hash) %>
          </div>
          
        <% when "institutionen_emails" %>
          <div class="panel-body">
            <% emails = Email.where('m_to=? or m_from=?', @company.user.id, @company.user.id).order(created_at: :desc) %>
            <% emails.each do |e| %>
              <% if e.m_to == @company.user.id %>
                <% @u = User.find(e.m_from) %>
                <%= showImage2(:small, @u, true) if @u %>
              <% end %>
              <% if e.m_from == @company.user.id %>
                <% @u = User.find(e.m_to) %>
                <%= showImage2(:small, @u, true) if @u %>
              <% end %>
              <%= e.header + e.body %><br>
            <% end %>
          </div>

      <% end %>
    </div>
    
  </div>
</div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% if @topic == "institutionen_info" and @company.latitude and @company.longitude %>
  <script type="text/javascript">

    var latitudes = [<%= @company.latitude %>];
    var longitudes = [<%= @company.longitude %>];
    function init_map(index) {
        var myLocation = new google.maps.LatLng(latitudes[index], longitudes[index]);
        var mapOptions = {
            center: myLocation,
            zoom: 16
        };
        var marker = new google.maps.Marker({
            position: myLocation,
            title: "Property Location"
        });
        var map = new google.maps.Map(document.getElementById("map"),mapOptions);
        marker.setMap(map);
    }

    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable(<%= raw @stats %>);
      var options = {
        title: "<%= (I18n.t :aktivitaeten) %>",
        pieHole: 0.4,
        height: 600,
      };
      var chart = new google.visualization.PieChart(document.getElementById('piechart'));
      chart.draw(data, options);
    };
  
  </script>
<% end %>

<script>
<% case @topic %>
  <% when "institutionen_info" %>
      document.addEventListener("turbolinks:load", function() {init_map(0); drawChart();})

<% end %>
</script>

<script>$('.dropdown-toggle').dropdown()</script>