    <%= form_for @mcategory do |f| %>

        <% if @mcategory.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mcategory.errors.count, "error") + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @mcategory.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <%= header (I18n.t :tabelleneintrag) %>

        <div class="row">
            <div class="col-md-6">
                <div class="panel-body">
                    <div class="form-group">
                       <%= f.label I18n.t :tabelleneintrag %><br/>
                       <%= f.text_field :name, class:"form-control"%>
                    </div>
                    <%= f.hidden_field :ctype %>
                    <div class="actions">
                      <%= f.submit (I18n.t :speichern), class:"btn btn-primary btn-lg"%>
                      <%= link_to mcategories_path(:ctype => @mcategory.ctype) do %>
                        <i class="btn btn-default btn-lg">Abbrechen</i>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    <% end %>
