<p id="notice"><%= notice %></p>

<h1>Publication Articles</h1>

<table>
  <thead>
    <tr>
      <th>Publication</th>
      <th>Article</th>
      <th>Status</th>
      <th>Active</th>
      <th>Sequence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publication_articles.each do |publication_article| %>
      <tr>
        <td><%= publication_article.publication %></td>
        <td><%= publication_article.article %></td>
        <td><%= publication_article.status %></td>
        <td><%= publication_article.active %></td>
        <td><%= publication_article.sequence %></td>
        <td><%= link_to 'Show', publication_article %></td>
        <td><%= link_to 'Edit', edit_publication_article_path(publication_article) %></td>
        <td><%= link_to 'Destroy', publication_article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publication Article', new_publication_article_path %>
