<p id="notice"><%= notice %></p>

<p>
  <strong>Publication:</strong>
  <%= @publication_article.publication %>
</p>

<p>
  <strong>Article:</strong>
  <%= @publication_article.article %>
</p>

<p>
  <strong>Status:</strong>
  <%= @publication_article.status %>
</p>

<p>
  <strong>Active:</strong>
  <%= @publication_article.active %>
</p>

<p>
  <strong>Sequence:</strong>
  <%= @publication_article.sequence %>
</p>

<%= link_to 'Edit', edit_publication_article_path(@publication_article) %> |
<%= link_to 'Back', publication_articles_path %>
