<br>
<div class="contact-form">
 
<div class="container">
    <div class="jumbotron">
    <h2><%= I18n.t :welcometo %></h2>
    <br>
      <%= image_tag("thurcloud.png", :size => "200x200") %>
      <br><br>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), class:"contactForm") do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label I18n.t :email %>
        <%= f.email_field :email, autofocus: true, class:"form-control"%>
      </div>
      <div class="form-group">
        <%= f.label I18n.t :password %>
        <%= f.password_field :password, autocomplete: "off", class:"form-control"%>
      </div>
      <% if false %>
      <div class="form-group">
        <input type="checkbox" name="my-checkbox" checked>
        <%= f.hidden_field :remember_me, class:"form-control hidden"  %>
        <%= f.label I18n.t :remember_me %>
      </div>
      <% end %>
      <label class="switch">
          <%= f.check_box :remember_me, class:"sliders round" %>
          <span class="sliders round"></span>
      </label>
      <%= f.label I18n.t :remember_me %> 
      <br><br>
      <div class="actions">
            <%= f.submit (I18n.t :anmelden), class:"btn btn-primary btn-lg btn-submit" %>
            <%- if Devise.mappings[:user].recoverable? && controller_path != 'passwords' && controller_path != 'registrations' && $usemailgun %>
              <%= link_to(new_password_path(@devise_mapping.name)) do %>
          		  <i class="btn btn-submit btn-lg"><%= I18n.t :forgotpw %></i>
          		<% end %>
            <% end -%>
      </div>
      <% if false %>
      <%- if Devise.mappings[:user].recoverable? && controller_path != 'passwords' && controller_path != 'registrations' && $usemailgun %>
        <%= link_to (I18n.t :forgotpw), new_password_path(@devise_mapping.name) %>
      <% end -%>
      <% end %>
    <% end %>
    <% render "devise/shared/links" %>
  </div>
</div>

</div>
<% if false %>
<script>
    $.fn.bootstrapSwitch.defaults.onColor = 'primary';
    $("[name='my-checkbox']").bootstrapSwitch('state',true);
    $("[name='my-checkbox']").on('switchChange.bootstrapSwitch', function () {
    $("#remember_me").prop('checked',$("[name='my-checkbox']").bootstrapSwitch('state'));
    });
</script>
<% end %>