<%= @mobject.mtype %>
<br>
<div class="contact-form">
<div class="container"
    <div class="jumbotron">

    <%= form_for @mobject, html: {multipart: true}  do |f| %>

        <% if @mobject.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@mobject.errors.count, "error") + " " + (I18n.t :notsaved) %> </h2>
              <ul>
                  <% @mobject.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <% if @mobject_type == "projekte" %>
          <%= header_cicd(@mobject.mtype + " " + @mobject.name, nil, @mobject) %>
        <% end %>
        <% if @mobject_type == "gruppen" %>
          <%= header4(@mobject.mtype + " " + @mobject.name, nil, @mobject) %>
        <% end %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
        <div class="form-group">
          <%= f.label I18n.t :bezeichnung %>
          <%= f.text_field :name, autofocus: true, class:"form-control" %>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :beschreibung %>
          <%= f.text_area :description, rows: 5, class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :homepage %>
          <%= f.text_field :homepage, class:"form-control"%>
        </div>
        <div class="form-group">
          <%= f.label I18n.t :kategorie %>
          <%= f.collection_select :mcategory_id, Mcategory.where('ctype=?',@mobject.mtype).order(:name), :id, :name, {}, :readonly => true, id:"cat", class:"form-control", :onchange => "showdata2();" %>
        </div>
        
        <% if @mobject.mtype == "projekte" %>
          <div class="form-group">
            <%= f.label I18n.t :subkategorie %>
            <% if @mobject.owner_type == "Company" %>
              <% @company = @mobject.owner %>
              <% @param = @company.company_params.where('key=?',"freecat1").first %>
              <% if @param %>
                <%= @param.value %>
              <% end %>
            <% end %>
            <%= f.text_field :freecat1, class:"form-control"%>

            <%= f.label I18n.t :subkategorie %>
            <% if @mobject.owner_type == "Company" %>
              <% @company = @mobject.owner %>
              <% @param = @company.company_params.where('key=?',"freecat2").first %>
              <% if @param %>
                <%= @param.value %>
              <% end %>
            <% end %>
            <%= f.text_field :freecat2, class:"form-control"%>

            <%= f.label I18n.t :subkategorie %>
            <% if @mobject.owner_type == "Company" %>
              <% @company = @mobject.owner %>
              <% @param = @company.company_params.where('key=?',"freecat3").first %>
              <% if @param %>
                <%= @param.value %>
              <% end %>
            <% end %>
            <%= f.text_field :freecat3, class:"form-control"%>
          </div>
          <div class="form-group">
            <%= f.label I18n.t :gesamtstatus %>
            <%= f.select :gesamtstatus, options_for_select(["OK", "WARN", "NOK"], @mobject.gesamtstatus), {}, class:"form-control" %>
            <%= f.label I18n.t :risiken %>
            <div class="input-group">
              <%= f.select :termin, options_for_select(["HIGH", "MID", "LOW"], @mobject.termin), {}, class:"form-control" %>
              <div class="input-group-addon"> Terminrisiko</div>
            </div>
            <div class="input-group">
              <%= f.select :kosten, options_for_select(["HIGH", "MID", "LOW"], @mobject.kosten), {}, class:"form-control" %>
              <div class="input-group-addon"> Kostenrisiko</div>
            </div>
            <div class="input-group">
              <%= f.select :qualitaet, options_for_select(["HIGH", "MID", "LOW"], @mobject.qualitaet), {}, class:"form-control" %>
              <div class="input-group-addon"> Qualitätsrisiko</div>
            </div>
          </div>
          <div class="form-group">
            <%= f.label "Datum von-bis:" %>
            <div class="input-group">
              <%= f.text_field :date_from, :value => (@mobject.date_from), :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"> Datum von</div>
            </div>
            <div class="input-group">
              <%= f.text_field :date_to, :value => (@mobject.date_to), :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"> Datum bis</div>
            </div>
          </div>
          <div class="form-group">
            <% if !@mobject.sum_paufwand_ist %>
              <% @mobject.sum_paufwand_ist = 0 %>
            <% end %>
            <% if !@mobject.sum_pkosten_ist %>
              <% @mobject.sum_pkosten_ist = 0 %>
            <% end %>
            <b><%= I18n.t :plankosten %></b>
            <div class="input-group">                          
              <!--<%= f.number_field :sum_pkosten_plan, :value => number_with_precision(@mobject.sum_pkosten_plan, :precision => 2), :style => "text-align: Right", class:"form-control" %>-->
              <%= f.number_field :sum_pkosten_plan, :step => 0.1, :precicion => 2, :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"><%= (I18n.t :waehrung) %></div>
            </div>
            <b><%= I18n.t :planaufwand %></b>
            <div class="input-group">                          
              <%= f.number_field :sum_paufwand_plan, :value => number_with_precision(@mobject.sum_paufwand_plan, :precision => 0), :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"><%= (I18n.t :personentage) %></div>
            </div>
            <%= f.label I18n.t :kostenstelle %>
            <%= f.text_field :costinfo, class:"form-control"%>
            <%= f.label I18n.t :auftragsnummer %>
            <%= f.text_field :orderinfo, class:"form-control"%>
          </div>
          <div class="form-group">
            <input type="checkbox" name="my-checkbox7" checked>
            <% if @mobject.allow == nil %>
              <% @mobject.allow = true %>
            <% end %>
            <%= f.label "Buchungskontrolle" %>
            <% if !@mobject.allowdays %>
              <% @mobject.allowdays = 5 %>
            <% end %>
            <div class="input-group">                          
              <%= f.number_field :allowdays, :style => "text-align: Right", class:"form-control" %>
              <div class="input-group-addon"><%= ("erlaubt bis zum n.Tag im Folgemonat") %></div>
            </div>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label I18n.t :stichworte %>
          <%= f.text_field :keywords, class:"form-control"%>
        </div>

        <div class="form-group">
          <input type="checkbox" name="my-checkbox1" checked>
          <%= f.label I18n.t :active %>
        </div>
        <div class="actions">
           <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg btn-download"%>
           <% @mobject.owner_type %>
          <% if @mobject.owner_type == "User" %>
            <%= link_to user_path(:id => @mobject.owner_id, :topic => "personen_" + @mobject.mtype) do %>
              <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
            <% end %>
          <% end %>
          <% if @mobject.owner_type == "Company" %>
            <%= link_to company_path(:id => @mobject.owner_id, :topic => "institutionen_" + @mobject.mtype) do %>
              <i class="btn btn-primary btn-lg btn-download">Abbrechen</i>
            <% end %>
          <% end %>
        </div>
        <%= f.check_box :allow, :id => "allow", class:"form-control hidden" %>
        <%= f.check_box :active, :id => "active", class:"form-control hidden" %>
        <%= f.check_box :online_pub, :id => "online_pub", class:"form-control hidden" %>
         <%= f.hidden_field :mtype, class:"form-control" %>
         <%= f.hidden_field :parent %>
         <%= f.hidden_field :status, class:"form-control" %>
         <%= f.hidden_field :owner_id %>
         <%= f.hidden_field :owner_type %>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
            <% if @mobject.mtype == "projekte" %>
              <%= image_tag("pm.jpg", class: "img-responsive") %>
            <% end %>
            <% if @mobject.mtype == "gruppen" %>
              <%= image_tag("crowd.jpg", class: "img-responsive") %>
            <% end %>
          </div>
        </div>
 
<% end %>                
  </div>
</div>
<br>

<script type="text/javascript">
  $(document).ready(function(){
    $('#mobject_date_from').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "de",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
    $('#mobject_date_to').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "de",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
  });
</script>

<script>
  document.addEventListener("turbolinks:load", function() {init_map(0);showdata();})
</script>

