<%= indexheader4((I18n.t :projekte), "objekte", @mtype, @filter_id, @search) %>

  <!--<div class="row">-->
  <!--  <% if user_signed_in? %>-->
  <!--    <%= header("<button type='button' class='btn btn-default fa fa-filter' data-toggle='collapse' data-target='#demo'></button>" + @mtype.to_s + " " + @msubtype.to_s + " " + @filter_id.to_s + " " + @search.to_s + "<span class='badge'>" + @mobanz.to_s + "</span>") %>-->
  <!--  <% else %>-->
  <!--    <%= header(@mtype.to_s + " " + @msubtype.to_s + " " + @filter_id.to_s + " " + @search.to_s + "<span class='badge'>" + @mobanz.to_s + "</span>") %>-->
  <!--  <% end %> -->
  <!--  <div id="demo" class="collapse">-->
  <!--    <% if user_signed_in? %>-->
		<!--    <%= link_to new_search_path(:user_id => current_user.id, :search_domain => "objekte", :controller_name => @controller_name, :mtype => @mtype, :msubtype => @msubtype) do %>-->
  <!--        <i class="btn btn-primary fa fa-plus">Abfrage</i>-->
  <!--      <% end %>-->
  <!--      <% if @msubtype %>-->
  <!--        <% @searches = Search.where('search_domain=? and user_id=? and mtype=? and msubtype=?', "objekte", current_user.id, @mtype, @msubtype) %>-->
  <!--      <% else %>-->
  <!--        <% if @mtype %>-->
  <!--          <% @searches = Search.where('search_domain=? and user_id=? and mtype=?', "objekte", current_user.id, @mtype) %>-->
  <!--        <% end %>-->
  <!--      <% end %>-->
  <!--      <%= build_medialistNew(@searches, "searches", nil, nil, nil) %>-->
  <!--    <% end %>-->
  <!--  </div>-->
  <!--</div>-->

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @mobjects, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>
  
    <%= build_medialistNew(@mobjects, "mobjects", "panel", nil, nil) %>


