
<!--def header4_cicd(text, user, company, mobject, obj, item, topic)-->
<%= header4_cicd(@mobject.mtype + " " + @mobject.name, nil, nil, @mobject, "objekte", @mobject, @topic) %>

<% case @topic %>
  <% when "objekte_info" %>

    <div class="container">

      <% if @mobject.mtype == "projekte" %>
        <br>
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 projectbox">
            <% @anz = @mobject.timetracks.select("user_id").distinct.count %>
            <i class="fa fa-user fa-2x"></i>
            <h2 class="timer count-title count-number color1" data-to="<%= @anz %>" data-speed="1500"></h2>
            <p class="count-text ">Projektmitarbeiter</p>
          </div>
  
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 projectbox">
            <% @aufwand = @mobject.timetracks.where('costortime=?',"aufwand").sum(:amount) %>
            <i class="fa fa-pencil fa-2x"></i>
            <h2 class="timer count-title count-number color1" data-to="<%= @aufwand %>" data-speed="1500"></h2>
            <p class="count-text ">Aufwand in h</p>
          </div>
  
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 projectbox">
            <% @kosten = @mobject.timetracks.where('costortime=?',"kosten").sum(:amount) %>
            <i class="fa fa-euro fa-2x"></i>
            <h2 class="timer count-title count-number color1" data-to="<%= @kosten %>" data-speed="1500"></h2>
            <p class="count-text ">Kosten in CHF</p>
          </div>
  
          <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-xs-12 projectbox">
            <% @tage = (Date.today - @mobject.date_from).to_i %>
            <i class="fa fa-safari fa-2x"></i>
            <h2 class="timer count-title count-number color1" data-to="<%= @tage %>" data-speed="1500"></h2>
            <p class="count-text ">Projektlaufzeit in t</p>
          </div>
        </div>
      <% end %>
      
      <br>
      <%= carousel4(@mobject, :medium) %>
      <br><br>

      <div class="row">

        <!--overall Block-->
        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">

         <% case @mobject.status %>
            <% when "CHECK" %>
              <i class="fa fa-question-sign"></i>
            <% when "OK" %>
              <i class="fa fa-ok-circle"></i>
            <% when "NOK" %>
              <i class="fa fa-ban-circle"></i>
          <% end %>
          <b> <%= I18n.t :status %></b>
          <br><br>

          <% if @mobject.description %>
            <b><%= I18n.t :beschreibung %></b><br>
      			<%= @mobject.description %>
            <br><br>
          <% end %>
          <% if @mobject.homepage != nil %>
            <b><%= I18n.t :homepage %></b><br>
            <%= link_to url_with_protocol(@mobject.homepage), :target => '_blank' do %>
              <i class="fa fa-home"></i> <%= url_with_protocol(@mobject.homepage) %>
            <% end %>
            <br><br>
          <% end %>
          <% if @mobject.mcategory_id %>
            <b><%= I18n.t :kategorie %></b><br>
      			<%= @mobject.mcategory.name %>
            <br><br>
          <% end %>
          <br>
          <b><%= (I18n.t :verantwortlich) %></b><br>
          <%= showImage2(:small, @mobject.owner, true) %>
          <br>
          <% if @mobject.owner_type == "User" %>
            <%= @mobject.owner.name + " " + @mobject.owner.lastname %>
          <% else %>
            <%= @mobject.owner.name %>
          <% end %>
          <br>
          <cite><%= @mobject.created_at.strftime("%d.%m.%Y") %></cite><br>
        </div>
          
        <% if @mobject.mtype == "projekte" %>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <i class="fa fa-stop <%= @mobject.gesamtstatus %>", style="font-size:4em"></i>
            <b><%= I18n.t :gesamtstatus %></b>
            <br><br>

            <i class="fa fa-stop <%= @mobject.termin %>", style="font-size:4em"></i>
            <b><%= I18n.t :termin %></b>
            <br>

            <i class="fa fa-stop <%= @mobject.kosten %>", style="font-size:4em"></i>
            <b><%= I18n.t :kosten %></b>
            <br>

            <i class="fa fa-stop <%= @mobject.qualitaet %>", style="font-size:4em"></i>
            <b><%= I18n.t :qualitaet %></b>

          </div>

        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <b><%= (I18n.t :datumvonbis) %></b><br>
            <% if @mobject.date_from  %>
              <%= @mobject.date_from.strftime("%d.%m.%Y") %>
            <% end %>
            <% if @mobject.date_to %>
            - <%= @mobject.date_to.strftime("%d.%m.%Y") %>
            <% end %>
            <% if @mobject.date_from or @mobject.date_to %>
              <br><br>
            <% end %>
            <% if @mobject.date_to != nil %>
              <b><%= (I18n.t :laufzeit) %></b><br>
              <b><ntext><%= (I18n.t :noch) %> </ntext></b><restlaufzeits><%= (@mobject.date_to.to_date - DateTime.now.to_date).to_i.to_s %></restlaufzeits> <b><ntext> <%= (I18n.t :tage) %></ntext></b>
              <br>
              <% soll = (@mobject.date_to.to_date - @mobject.date_from.to_date).to_i %>
              <% ist = (DateTime.now.to_date - @mobject.date_from.to_date).to_i %>
              <% if soll > 0 and ist > 0 %>
              <div class="progress">
                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar2" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist*100/soll) %>%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
              <% end %>
            <% end %>
            <br>
            <% ist = @mobject.sum_pkosten_ist %>
            <% soll = @mobject.sum_pkosten_plan %>
            <% if !ist %>
              <% ist = 0 %>
            <% end %>
            <% if !soll %>
              <% soll = 0 %>
            <% end %>
            <b><%= I18n.t :kosten %></b><br>
            <b><ntext><%= I18n.t :noch %> </ntext></b><restlaufzeits><%= soll - ist %></restlaufzeits> <b><ntext> <%= I18n.t :waehrung %></ntext></b>
            <br>
            <% if soll > 0 %>
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            <% end %>
            <% ist = @mobject.sum_paufwand_ist.to_i %>
            <% soll = @mobject.sum_paufwand_plan %>
            <% if !ist %>
              <% ist = 0 %>
            <% end %>
            <% if !soll %>
              <% soll = 0 %>
            <% end %>
            <b><%= I18n.t :aufwand %></b><br>
            <b><ntext><%= I18n.t :noch %> </ntext></b><restlaufzeits><%= soll - ist %></restlaufzeits> <b><ntext> <%= I18n.t :personentage %></ntext></b>
            <br>
            <% if soll > 0 %>
              <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="<%= ist %>" aria-valuemin="0" aria-valuemax="<%= soll %>" style="width:<%= (ist/soll*100) %>%">
                  <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%= header_cicd((I18n.t :projekte), nil, @mobject) %>
        <div class="panel-body">
          <%= build_medialistNew(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "user", nil, nil) %>
        </div>

        <% end %>
  </div>
  <% if @mobject.mtype == "gruppen" %>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <%= header_cicd((I18n.t :gruppenmitglieder), nil, @mobject) if false %>
      <div class="panel-body">
        <%= build_medialistNew(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user", nil, nil) %>
      </div>
      <br>
    </div>
  <% end %>

  <% when "objekte_details" %>
    <div class="panel-body">
      <%= build_medialistNew(@mobject.mdetails.order(:sequence), "mdetails", nil, nil, nil) %>
    </div>

  <% when "objekte_projektplan" %>
    <div class="panel-body">
      <%= build_projektTable(@mobject.pplans, 1) %>
    </div>

  <% when "objekte_projektberechtigungen" %>
    <div class="panel-body">
      <!--#groups = item.owner.mobjects.where('mtype=?',"gruppen")-->
      <% if user_signed_in? %>
        <% groups = current_user.mobjects.where('mtype=?',"gruppen") %>
        <% groups.each do |g| %>
            <%= link_to(mobject_path :mobject_id => @mobject.id, :topic => @topic, :group_id => g.id) do %>
              <% content_tag(:i, " " + g.name, class:"btn btn-warning fa fa-plus orange") %>
            <% end %>
        <% end %>
      <% end %>    
        <%= build_medialistNew(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user", nil, nil) %>
    </div>

  <% when "objekte_gruppenmitglieder" %>
    <div class="panel-body">
      <%= build_medialistNew(@mobject.madvisors.where('role=?', @mobject.mtype), "madvisors", "user", nil, nil) %>
    </div>

  <% when "objekte_ressourcenplanung" %>
    <div class="row">
        <div class='col-xs-12'>
          <div class='panel-body'>

            <% @header = [] %>
            <% @data = [] %>
            <% @header = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Okt Nov Dez] %>
            <% for i in 1..12 %>
              <% @data << i %>
            <% end %>
            
            <% case @c_scope %>
              <% when "aufwand" %>
                <% btn_sa = "active" %>
                <% btn_sc = "inactive" %>
              <% when "kosten" %>
                <% btn_sa = "inactive" %>
                <% btn_sc = "active" %>
            <% end %>
            
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => @c_scope)  do %>
              <span><i class="btn btn-active fa fa-calendar"> <%= @c_year %></i></span>
            <% end %>

            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => "kosten")  do %>
              <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
            <% end %>
             <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanung", :year => @c_year, :mode => @c_mode, :scope => "aufwand")  do %>
              <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
            <% end %>
            
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanung", :dir => "<", :year => @c_year, :mode => @c_mode, :scope => @c_scope )  do %>
              <i class="btn btn-primary fa fa-chevron-left"></i>
            <% end %>
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanung", :dir => ">", :year => @c_year, :mode => @c_mode , :scope => @c_scope) do %>
              <i class="btn btn-primary fa fa-chevron-right"></i>
            <% end %>
           <br><br>
           
            <div class="col-md-12">
                <div class="chart-container">
                    <canvas id="myChart0P"></canvas>
                </div>
            </div>

            <table class="table">
              <tr>
                <td></td>
                <td></td>
                <td colspan= <%= @header.length %>></td> 
              </tr>
              <tr>
                <th colspan="2"><%= I18n.t :mitarbeiter %></th>
                  <% @total = [] %>
                  <% for i in 0..@header.length-1 do %>
                    <!-- set initialize total per column -->
                    <% @total[i] = 0 %>
                    <!-- set color of header according to actual day, wekk or month -->
                    <% if Date.today.strftime('%m').to_i == @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                          <th class="warning">
                    <% else %>
                          <th>
                    <% end %>
                    <%= @header[i] %>
                  </th>
                <% end %>
              </tr>
              <!--<% @mobuser = @mobject.plannings.select("user_id").distinct %>-->
              <% @mobuser = @mobject.madvisors.select("user_id").distinct %>
              <% if @mobuser %>
                <% @mobuser.each do |u| %>

                  <% @u = User.find(u.user_id) %>

                  <tr>            
                    <% plans = [] %>
                    <% @plannings = @mobject.plannings.where('user_id=? and costortime=? and jahr=?', @u.id, @c_scope, @c_year.to_s) %>
                    <% @plannings.each do |p| %>
                      <% h = Hash.new %>
                      <% h = {:id => p.id, :monat => p.monat.to_i, :kapa => p.amount, :status => p.status} %>
                      <% plans << h %>
                    <% end %>

                    <td>
                      <%= showImage2(:small, @u, true) %>
                    </td>
                    <td>
                      <%= @u.name + " " + @u.lastname %>
                    </td>

                    <% for i in 0..@header.length-1 do %>

                      <% if @c_scope == "kosten" %>
                        <% moto = 0 %>
                        <% for k in 0..plans.length-1 do %>
                          <% if plans[k][:monat].to_i == @data[i].to_i %>
                            <% moto = moto + plans[k][:kapa] %>
                            <% @total[i] = @total[i] + plans[k][:kapa] %>
                          <% end %>
                        <% end %>
                        
                        <% if moto > 0%>
                          <td class="color_kapa_booked" align="right">
                            <% if user_signed_in? and current_user == @u %>
              				        <%= link_to new_planning_path(:mobject_id => @mobject.id, :user_id => @u.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                <i class="btn btn-primary btn-xs fa fa-plus"></i>
                              <% end %>
                            <% end %>
                           <%= moto.to_s+" CHF" %><br>
                        <% else %>
                            <td>
                            <% if user_signed_in? and current_user == @u %>
              				        <%= link_to new_planning_path(:mobject_id => @mobject.id, :user_id => @u.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                <i class="btn btn-primary btn-xs fa fa-plus"></i>
                              <% end %>
                            <% end %>
                        <% end %>
                        </td>
                      <% end %>
                    
                      <% if @c_scope == "aufwand" %>
                        <% kapa = false %>
                        <% for k in 0..plans.length-1 do %>
                          <% if plans[k][:monat].to_i == @data[i].to_i %>
                            <td class="color_kapa_booked">
                            <%= plans[k][:kapa].to_s + " %" %>
                            <% if plans[k][:status] == "PL" %>
                              <i class="fa fa-info", style='color:red'"></i>
                            <% end %>
                            <br>
                            <% if user_signed_in? %>
                                <% if current_user == @u %>
                  				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                                    <i class="btn btn-primary btn-xs fa fa-pencil"></i>
                                  <% end %>
                                <% else %>
                  				        <%= link_to edit_planning_path(:id => plans[k][:id], :plaction => "PL") do %>
                                    <i class="btn btn-default btn-xs fa fa-pencil"></i>
                                  <% end %>
                                <% end %>
                            <% end %>
                            <% if user_signed_in? %>
                              <% if current_user == @u %>
                				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                                  <i class="btn btn-danger btn-xs fa fa-trash"></i>
                                <% end %>
                              <% else %>
                				        <!--<%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>-->
                            <!--      <i class="btn btn-default btn-xs fa fa-trash"></i>-->
                            <!--    <% end %>-->
                              <% end %>
                            <% end %>
                            <% @total[i] = @total[i] + plans[k][:kapa] %>
                            <% kapa = true %>
                          <% end %>
                        <% end  %>
                        <% if !kapa %>
                            <td>
                            <% if user_signed_in? %>
                              <% if current_user == @u %>
                				        <%= link_to new_planning_path(:mobject_id => @mobject.id, :user_id => @u.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                                  <i class="btn btn-primary btn-xs fa fa-plus"></i>
                                <% end %>
                              <% else %>
                				        <%= link_to new_planning_path(:mobject_id => @mobject.id, :user_id => @u.id, :month => @data[i], :year => @c_year, :scope => @c_scope, :plaction => "PL") do %>
                                  <i class="btn btn-default btn-xs fa fa-plus"></i>
                                <% end %>
                              <% end %>
                            <% end %>
                        <% end %>
                        </td>
                      <% end %>

                    <% end %>

                  </tr>

                <% end %>
              <% end %>

            <!-- finally add totals and progress bar-->
            <% if @c_scope == "aufwand" or @c_scope == "kosten" %>
              <tr>
                <td><%= I18n.t :total %></td>
                <td></td>
                <% for i in 0..@header.length-1 do %>
                  <td>
                    <%= @total[i] %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          
          </table>
          
          <% if @c_scope == "kosten" %>
            <br><br>
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <div>
                  <%= header((I18n.t :kosten)) %>
                  
              		<table class="table table-striped">
                    <thead>
                      <tr>
                        <th></th>
                        <th><%= (I18n.t :datum) %></th>            
                        <th colspan=2><%= (I18n.t :mitarbeiter) %></th>
                        <th><%= (I18n.t :position) %></th>
                        <th align='right'><%= (I18n.t :betrag) %></th>
                      </tr>
                    </thead>
                    <tbody>
                    <% @plannings = @mobject.plannings.where('costortime=?', @c_scope).order(jahrmonat: :desc) %>
                    <% @plannings.each do |a| %>
                      <tr>
                        <td>
                          <%= link_to edit_planning_path(a) do %>
                            <i class="btn btn-primary btn btn-xs fa fa-wrench"></i>
                          <% end %>
                	        <%= link_to a, method: :delete, data: { confirm: (I18n.t :sindsiesicher?) } do %>
                            <i class="btn btn-danger btn-xs fa fa-trash"></i>
                          <% end %>
                        </td>
                        <td><%= a.jahrmonat %></td>
                        <td><%= showImage2(:small, User.find(a.user_id),true) %></td>
                        <td><%= User.find(a.user_id).name + " " + User.find(a.user_id).lastname %></td>
                        <td><%= a.description %></td>
                        <td align='right'><%= sprintf("%7.2f",a.amount) + " " + (I18n.t :waehrung) %></td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          <% end %>

        </div>
      </div>
    </div>

  <% when "objekte_ressourcenplanunggruppe" %>
    <div class="row">
        <div class='col-xs-12'>
          <div class='panel-body'>

            <% @header = [] %>
            <% @data = [] %>
            <% @header = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Okt Nov Dez] %>
            <% for i in 1..12 %>
              <% @data << i %>
            <% end %>
            
            <% case @c_scope %>
              <% when "aufwand" %>
                <% btn_sa = "active" %>
                <% btn_sc = "inactive" %>
              <% when "kosten" %>
                <% btn_sa = "inactive" %>
                <% btn_sc = "active" %>
            <% end %>
            
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :year => @c_year, :scope => @c_scope)  do %>
              <span><i class="btn btn-active fa fa-calendar"> <%= @c_year %></i></span>
            <% end %>

            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :year => @c_year, :scope => "kosten")  do %>
              <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
            <% end %>
             <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :year => @c_year, :scope => "aufwand")  do %>
              <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
            <% end %>
            
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :dir => "<", :year => @c_year, :mode => @c_mode, :scope => @c_scope )  do %>
              <i class="btn btn-primary fa fa-chevron-left"></i>
            <% end %>
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :dir => ">", :year => @c_year, :mode => @c_mode , :scope => @c_scope) do %>
              <i class="btn btn-primary fa fa-chevron-right"></i>
            <% end %>
            <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_ressourcenplanunggruppe", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :export => true) do %>
              <span><i class="btn btn-inactive fa fa-book"></i></span>
            <% end %>

           <br><br>
           <% @userdata = [] %>
           
           <% @gruppenmitglieder = @mobject.madvisors %>

           <% @gruppenmitglieder.each do |gm| %>
           
           <% @tmpdata = [] %>
           <% @tmpdata << gm.user_id %>
           
           <table class="table">
              <tr>
                <td></td>
                <td></td>
                <td colspan= <%= @header.length %>></td> 
              </tr>
              <tr>
                <th colspan="2"><%= showImage2(:small, User.find(gm.user.id), true) + gm.user.name + " " + gm.user.lastname %></th>
                  <% @total = [] %>
                  <% @totalt = [] %>
                  <% for i in 0..@header.length-1 do %>
                    <!-- set initialize total per column -->
                    <% @total[i] = 0 %>
                    <% @totalt[i] = 0 %>
                    <!-- set color of header according to actual day, wekk or month -->
                    <% if Date.today.strftime('%m').to_i == @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                          <th class="warning">
                    <% else %>
                          <th>
                    <% end %>
                    <%= @header[i] %>
                  </th>
                <% end %>
              </tr>

              <% myobs = [] %>
              <% gm.user.madvisors.each do |a| %>
                <% myobs << a.mobject_id %>
              <% end %>
              <% @mymobjects = Mobject.where('mtype=? and id IN (?)',"projekte", myobs) %>

              <% @mobdata = [] %>

              <% @mymobjects.each do |w| %>
              
                <tr>            

                  <% plans = [] %>
                  <% @plannings = Planning.where('mobject_id=? and user_id=? and costortime=? and jahr=?', w.id, gm.user.id, @c_scope, @c_year.to_s) %>
                  <% @plannings.each do |p| %>
                    <% h = Hash.new %>
                    <% if @c_scope == "kosten" %>
                      <% kapa = p.amount %>
                    <% end %>
                    <% if @c_scope == "aufwand" %>
                      <% kapa = p.amount*20/100 %>
                    <% end %>
                    <% h = {:id => p.id, :monat => p.monat.to_i, :kapa => kapa} %>
                    <% plans << h %>
                  <% end %>

                  <td>
                    <%= showFirstImage2(:small, w,w.mdetails) %>
                  </td>
                  <td>
                    <%= w.name %>
                  </td>

                  <% @plan = [] %>
                  <% for i in 0..@header.length-1 do %>
                  
                    <% if @c_scope == "kosten" %>
                    
                      <% moto = 0 %>
                      <% for k in 0..plans.length-1 do %>
                        <% if plans[k][:monat].to_i == @data[i].to_i %>
                          <% moto = moto + plans[k][:kapa] %>
                        <% end %>
                      <% end %>
                      
                      <% if moto > 0 %>
                        <td class="color_kapa_booked" align="right">
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                         <%= moto.to_s+" " +(I18n.t :waehrung) %><br>
                      <% else %>
                          <td>
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                      <% end %>
                      
                      <% @plan << [i, moto] %>

                      </td>
                    <% end %>
                  
                    <% if @c_scope == "aufwand" %>
                      <% kapa = false %>
                      <% for k in 0..plans.length-1 do %>
                        <% if plans[k][:monat].to_i == @data[i].to_i %>
                          <td class="color_kapa_booked" align="right">
                          <%= plans[k][:kapa].to_s + " " + (I18n.t :personentage) %><br>

                          <% @plan << [@data[i], plans[k][:kapa]] %>

                          <% if false %>
          				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                            <i class="btn btn-primary btn-xs fa fa-pencil"></i>
                          <% end %>
          				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                            <i class="btn btn-danger btn-xs fa fa-trash"></i>
                          <% end %>
                          <% end %>
                          <% @total[i] = @total[i] + plans[k][:kapa] %>
                          <% kapa = true %>
                        <% end %>
                      <% end  %>
                      <% if !kapa %>
                          <td>
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                      <% end %>
                      </td>

                    <% end %>

                  <% end %>

                </tr>

                <!--/* hha-->

                <tr>            

                  <% tts = [] %>
                  <% @timetracks = Timetrack.select("jahrmonat as gdate, sum(amount) as sum").where('user_id=? and costortime=? and mobject_id=? and datum >=? and datum <=?', gm.user.id, @c_scope, w.id, @date_start, @date_end).group("jahrmonat").order("gdate") %>
                  <% @timetracks.each do |t| %>
                    <% h = Hash.new %>
                    <% if @c_scope == "kosten" %>
                      <% ist = t.sum %>
                    <% end %>
                    <% if @c_scope == "aufwand" %>
                      <% ist = t.sum / 8 %>
                    <% end %>
                    <% h = {:monat => t.gdate[5,2], :kapa => ist.to_f } %>
                    <% tts << h %>
                  <% end %>

                  <td>
                    <% if false %>
                    <%= showFirstImage2(:small, w,w.mdetails) %>
                    <% end %>
                  </td>
                  <td>
                    <% if false %>
                    <%= w.name %>
                    <% end %>
                  </td>

                  <% @ist = [] %>
                  <% for i in 0..@header.length-1 do %>

                    <% if @c_scope == "kosten" %>
                    
                      <% moto = 0 %>
                      <% for k in 0..tts.length-1 do %>
                        <% if tts[k][:monat].to_i == @data[i].to_i %>
                          <% moto = moto + tts[k][:kapa] %>
                        <% end %>
                      <% end %>
                      
                      <% if moto > 0%>
                        <td class="color_kapa_booked" align="right">
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                         <%= moto.to_s+ " " +( I18n.t :waehrung) %><br>
                      <% else %>
                          <td>
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                      <% end %>
                      </td>
                      
                      <% @ist << [@data[i], moto] %>

                    <% end %>
                  
                    <% if @c_scope == "aufwand" %>
                      <% kapa = false %>
                      <% for k in 0..tts.length-1 do %>
                        <% if tts[k][:monat].to_i == @data[i].to_i %>
                          <% @ist << [@data[i], tts[k][:kapa]] %>
                          <td class="color_kapa_booked" align="right">
                          <%= sprintf("%5.1f "+(I18n.t :personentage), tts[k][:kapa]) %><br>
                          <% if false %>
          				        <%= link_to edit_planning_path(:id => plans[k][:id]) do %>
                            <i class="btn btn-primary btn-xs fa fa-pencil"></i>
                          <% end %>
          				        <%= link_to Planning.find(plans[k][:id]), method: :delete, data: { confirm: (I18n.t :sindsiesicher) } do %>
                            <i class="btn btn-danger btn-xs fa fa-trash"></i>
                          <% end %>
                          <% end %>
                          <% @totalt[i] = @totalt[i] + tts[k][:kapa] %>
                          <% kapa = true %>
                        <% end %>
                      <% end  %>
                      <% if !kapa %>
                          <td>
                          <% if false %>
          				        <%= link_to new_planning_path(:mobject_id => w.id, :user_id => current_user.id, :month => @data[i], :year => @c_year, :scope => @c_scope) do %>
                            <i class="btn btn-primary btn-xs fa fa-plus"></i>
                          <% end %>
                          <% end %>
                      <% end %>
                      </td>
                    <% end %>

                  <% end %>

                </tr>
                <% @mobdata << [w.id , @plan, @ist] %>


              <% end %>
              <% @tmpdata << @mobdata %>
              <% @userdata << @tmpdata %>

            <!-- finally add totals and progress bar-->
            <% if @c_scope == "aufwand" %>
              <tr>
                <td><%= I18n.t :totalplan %></td>
                <td></td>
                <% for i in 0..@header.length-1 do %>
                  <td align="right">
                  <%= sprintf("%5.1f "+( I18n.t :personentage), @total[i]) %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td><%= I18n.t :totalist %></td>
                <td></td>
                <% for i in 0..@header.length-1 do %>
                  <td align="right">
                  <%= sprintf("%5.1f "+(I18n.t :personentage), @totalt[i]) %>
                  </td>
                <% end %>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <% for i in 0..@header.length-1 do %>
                  <td>
                    
                  <% showme = false %>
                  <% if Date.today.strftime('%Y').to_i < @c_year.to_i %>
                    <% showme = false %>
                  <% end %>
                  <% if Date.today.strftime('%Y').to_i > @c_year.to_i %>
                    <% showme = true %>
                  <% end %>
                  <% if Date.today.strftime('%m').to_i >= @data[i] and Date.today.strftime('%Y').to_i == @c_year.to_i %>
                    <% showme = true %>
                  <% end %>

                  <% if showme %>
                    <div class="progress">
                    <% if (@total[i] - @totalt[i]).abs > 5 %>
                      <class="riskhoch">
                      <div class="progress-bar progress-bar-danger" role="progressbar" style="width: <%= 100 %>%" >
                    <% end %>
                    <% if (@total[i] - @totalt[i]).abs > 3 and (@total[i] - @totalt[i]).abs <= 5 %>
                      <class="riskmittel">
                      <div class="progress-bar progress-bar-warning" role="progressbar" style="width: <%= 100 %>%" >
                    <% end %>
                    <% if (@total[i] - @totalt[i]).abs <= 3 %>
                      <class="risktief">
                      <div class="progress-bar progress-bar-success" role="progressbar" style="width: <%= 100 %>%" >
                    <% end %>
                    </div>
                  <% end %>
                  
                  </td>
                <% end %>
              </tr>
            <% end %>
          
          </table>
          <% end %>
          
        </div>
      </div>

      <% if @export %>
        <% @filename = exportWriterRessourcen(@userdata, @header) %>
        <% link_to @filename, @filename.remove("public") %>
        <%= link_to @filename.remove("public") do %>
          <span><i class="btn btn-active fa fa-cloud-download"></i></span>
        <% end %>
      <% end %>
      
      <% @userdata %>

    </div>

  <% when "objekte_auftragscontrolling" %>
    <div class="panel-body">

        <% case @c_scope %>
          <% when "aufwand" %>
            <% btn_sa = "active" %>
            <% btn_sc = "inactive" %>
          <% when "kosten" %>
            <% btn_sa = "inactive" %>
            <% btn_sc = "active" %>
        <% end %>
        <% case @c_mode %>
          <% when "Monat" %>
            <% btn_m = "active" %>
            <% btn_y = "inactive" %>
            <% btn_a = "inactive" %>
          <% when "Jahr" %>
            <% btn_y = "active" %>
            <% btn_m = "inactive" %>
            <% btn_a = "inactive" %>
          <% when "alles" %>
            <% btn_y = "inactive" %>
            <% btn_m = "inactive" %>
            <% btn_a = "active" %>
        <% end %>
        <% @date_start %>
        <% @date_end %>

        <!--<%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :year => @c_year, :month => @c_month, :mode => "alles", :scope => @c_scope)  do %>-->
        <!--  <span><i class="btn btn-<%= btn_a %> fa fa-fullscreen"> alles</i></span>-->
        <!--<% end %>-->
        <!--<%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :year => @c_year, :month => @c_month, :mode => "Jahr", :scope => @c_scope)  do %>-->
        <!--  <span><i class="btn btn-<%= btn_y %> fa fa-calendar"> <%= @c_year %></i></span>-->
        <!--<% end %>-->
        
        <!--<% if @c_mode != "alles" %>-->
        <!--  <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :dir => "<", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>-->
        <!--    <i class="btn btn btn-primary fa fa-chevron-left"></i>-->
        <!--  <% end %>-->
        <!--  <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :dir => ">", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope) do %>-->
        <!--    <i class="btn btn-primary fa fa-chevron-right"></i>-->
        <!--  <% end %>-->
        <!--<% end %>-->
        
        <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "kosten") do %>
          <span><i class="btn btn-<%= btn_sc %> fa fa-euro"></i></span>
        <% end %>
        <%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => "aufwand") do %>
          <span><i class="btn btn-<%= btn_sa %> fa fa-safari"></i></span>
        <% end %>
        
        <!--<%= link_to mobject_path(:id => @mobject.id, :topic => "objekte_auftragscontrolling", :year => @c_year, :month => @c_month, :mode => @c_mode, :scope => @c_scope, :export => true) do %>-->
        <!--  <span><i class="btn btn-inactive fa fa-book"></i></span>-->
        <!--<% end %>-->

        <% if @filename %>
	        <%= link_to @filename.remove("public") do %>
            <span><i class="btn btn-active fa fa-cloud-download"></i></span>
          <% end %>
        <% end %>
        
       <br><br>
       <% if false %>
       <% dat = controlRes(nil, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
       <%= "--->" + @subs.to_s %>
       <% end %>

      <!--Substuktur ??-->
      <% @subs = [] %>
      <% @subs << @mobject.id %>
      <% @subs = subids(@mobject.id, @subs) %>

      <div class="row">
        <div class="col-md-6">
          <div class="chart-container">
              <canvas id="projektKum"></canvas>
          </div>
        </div>
        <div class="col-md-6">
          <div class="chart-container">
              <canvas id="projektabs"></canvas>
          </div>
        </div>
      </div>

      <% if @subs.length > 1 %>
        <div class="row">
          <% for i in 0..@subs.length-1 %>
            <div class="col-md-6">
              <div class="chart-container">
                <canvas id="mySubProjectChart<%= i %>"></canvas>
              </div>
            </div>
            <div class="col-md-6">
              <div class="chart-container">
                <canvas id="mySubProjectChart2<%= i %>"></canvas>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>

      <% @users = @mobject.madvisors.select("user_id").distinct %>
      <div class="row">
        <% @users.each do |u| %>
          <div class="col-md-6">
            <div class="chart-container">
              <canvas id="myUserChart<%= u.user_id %>"></canvas>
            </div>
          </div>
        <% end %>
      </div>

      <% if @filename %>
        <% exportProjekt(@mobject, @c_scope) %>
      <% end %>

    </div>

  <% when "objekte_substruktur" %>
    <div class="panel-body">
      <%= build_medialistNew(Mobject.where('parent=?',@mobject.id).order(created_at: :desc), "mobjects", "user", nil, nil) %>
    </div>

<% end %>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<% if @topic == "objekte_info" %>
<script>
  (function ($) {
	$.fn.countTo = function (options) {
		options = options || {};
		
		return $(this).each(function () {
			// set options for current element
			var settings = $.extend({}, $.fn.countTo.defaults, {
				from:            $(this).data('from'),
				to:              $(this).data('to'),
				speed:           $(this).data('speed'),
				refreshInterval: $(this).data('refresh-interval'),
				decimals:        $(this).data('decimals')
			}, options);
			
			// how many times to update the value, and how much to increment the value on each update
			var loops = Math.ceil(settings.speed / settings.refreshInterval),
				increment = (settings.to - settings.from) / loops;
			
			// references & variables that will change with each update
			var self = this,
				$self = $(this),
				loopCount = 0,
				value = settings.from,
				data = $self.data('countTo') || {};
			
			$self.data('countTo', data);
			
			// if an existing interval can be found, clear it first
			if (data.interval) {
				clearInterval(data.interval);
			}
			data.interval = setInterval(updateTimer, settings.refreshInterval);
			
			// initialize the element with the starting value
			render(value);
			
			function updateTimer() {
				value += increment;
				loopCount++;
				
				render(value);
				
				if (typeof(settings.onUpdate) == 'function') {
					settings.onUpdate.call(self, value);
				}
				
				if (loopCount >= loops) {
					// remove the interval
					$self.removeData('countTo');
					clearInterval(data.interval);
					value = settings.to;
					
					if (typeof(settings.onComplete) == 'function') {
						settings.onComplete.call(self, value);
					}
				}
			}
			
			function render(value) {
				var formattedValue = settings.formatter.call(self, value, settings);
				$self.html(formattedValue);
			}
		});
	};
	
	$.fn.countTo.defaults = {
		from: 0,               // the number the element should start at
		to: 0,                 // the number the element should end at
		speed: 1000,           // how long it should take to count between the target numbers
		refreshInterval: 100,  // how often the element should be updated
		decimals: 0,           // the number of decimal places to show
		formatter: formatter,  // handler for formatting the value before rendering
		onUpdate: null,        // callback method for every time the element is updated
		onComplete: null       // callback method for when the element finishes updating
	};
	
	function formatter(value, settings) {
		return value.toFixed(settings.decimals);
	}
}(jQuery));

jQuery(function ($) {
  // custom formatting example
  $('.count-number').data('countToOptions', {
	formatter: function (value, options) {
	  return value.toFixed(options.decimals).replace(/\B(?=(?:\d{3})+(?!\d))/g, ',');
	}
  });
  
  // start all the timers
  $('.timer').each(count);  
  
  function count(options) {
	var $this = $(this);
	options = $.extend({}, options || {}, $this.data('countToOptions') || {});
	$this.countTo(options);
  }
});
</script>
<% end %>

<script>$('.dropdown-toggle').dropdown()</script>

<% if @topic == "objekte_ressourcenplanung" %>
<script>
$(document).ready(function(){
    var ctx0P = document.getElementById("myChart0P");
    var myChart0P = new Chart(ctx0P, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% @mobuser = @mobject.madvisors.select("user_id").distinct %>
                    <% @mobuser.each do |u| %>
                    <% @user = User.find(u.user_id) %>
                    <% dat = controlRes(@user.id, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: '<%= @user.name + " " + @user.lastname %>',
                    data: <%= raw dat[:dataPT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    <% end %>
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand PLAN'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })
});
</script>
<% end %>

<% if @topic == "objekte_auftragscontrolling_b" %>
<script>
$(document).ready(function(){
    var ctkum = document.getElementById("projektKum");
    var projektKum = new Chart(ctkum, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% dat = controlRes(nil, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: 'IST',
                    data: <%= raw dat[:dataTTkum] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    {
                    label: 'PLAN',
                    data: <%= raw dat[:dataPTkum] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    }
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand in h (kumuliert)'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    var ctabs = document.getElementById("projektabs");
    var projektKum = new Chart(ctabs, {
      type: 'line',
        data: {
                labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                datasets: [
                    <% dat = controlRes(nil, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
                    {
                    label: 'IST',
                    data: <%= raw dat[:dataTT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    {
                    label: 'PLAN',
                    data: <%= raw dat[:dataPT] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    }
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand in h pro Monat'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    <% @users = @mobject.madvisors.select("user_id").distinct %>
    <% @users.each do |u| %>
      <% @user = User.find(u.user_id) %>
      <% dat = controlRes(@user.id, @mobject.id, @c_scope, @c_mode, @date_start, @date_end, @c_year, @c_month) %>
      var ctu<%= u.user_id %> = document.getElementById("myUserChart<%= u.user_id %>");
      var myUserChart<%= u.user_id %> = new Chart(ctu<%= u.user_id %>, {
        type: 'line',
          data: {
                  labels: <%= raw ["Jan", "Feb", "Mar", "Apr", "Mai", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez"] %>,
                  datasets: [
                      {
                      label: 'Aufwand IST in h',
                      data: <%= raw dat[:dataTT] %>,
                      backgroundColor: [
                          'rgba(<%= rand(255) %>, <%= rand(0) %>, <%= rand(0) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                      {
                      label: 'Aufwand PLAN in h',
                      data: <%= raw dat[:dataPT] %>,
                      backgroundColor: [
                          'rgba(<%= rand(0) %>, <%= rand(0) %>, <%= rand(255) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                  ]
              },
          options: {
              title: {
                  display: true,
                  text: '<%= @user.name + " " + @user.lastname %>'
              },
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      })
    <% end %>

});
</script>
<% end %>

<% if @topic == "objekte_auftragscontrolling" %>

  #substruktur 
  <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id in (?) and costortime=?', @subs, @c_scope).group("jahrmonat").order(:jahrmonat) %>
  <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id in (?) and costortime=?', @subs, @c_scope).group("jahrmonat").order(:jahrmonat) %>
  #datum range
  <% @start = Date.today.year.to_s + "-" + "01" %>
  <% @end = Date.today.year.to_s + "-" + "12" %>
  <% if @tts.first != nil %>
    <% @start = @tts.first.jahrmonat %>
    <% @end = @tts.last.jahrmonat %>
  <% end %>
  <% if @pts.first != nil %>
    <% if @pts.first.jahrmonat < @start %>
      <% @start = @pts.first.jahrmonat %>
    <% end %>
    <% if @pts.last.jahrmonat > @end %>
      <% @end = @pts.last.jahrmonat %>
    <% end %>
  <% end %>
  <% range = getDatumRange(@start, @end) %>
  <% dataIst = getReportData(range, @tts) %>
  <% dataPlan = getReportData(range, @pts) %>

<script>
$(document).ready(function(){
    <!--kumuliert ber alles-->
    var ctkum = document.getElementById("projektKum");
    var projektKum = new Chart(ctkum, {
      type: 'line',
        data: {
                labels: <%= raw range %>,
                datasets: [
                    {
                    label: 'IST',
                    data: <%= raw dataIst[:datakum] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    {
                    label: 'PLAN',
                    data: <%= raw dataPlan[:datakum] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    }
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand in h (kumuliert)'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    var ctabs = document.getElementById("projektabs");
    var projektKum = new Chart(ctabs, {
      type: 'line',
        data: {
                labels: <%= raw range %>,
                datasets: [
                    {
                    label: 'IST',
                    data: <%= raw dataIst[:data] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    },
                    {
                    label: 'PLAN',
                    data: <%= raw dataPlan[:data] %>,
                    backgroundColor: [
                        'rgba(<%= rand(255) %>, <%= rand(255) %>, <%= rand(255) %>, 0.2)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                    ],
                    borderWidth: 1
                    }
                ]
            },
        options: {
            title: {
                display: true,
                text: 'Aufwand in h pro Monat'
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }]
            }
        }
    })

    <% if @subs.length > 1 %>
        <% for i in 0..@subs.length-1 %>
          <%= i %>
          <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?', @subs[i], @c_scope).group("jahrmonat").order(:jahrmonat) %>
          <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?', @subs[i], @c_scope).group("jahrmonat").order(:jahrmonat) %>
          <% dataIst = getReportData(range, @tts) %>
          <% dataPlan = getReportData(range, @pts) %>
          var csub<%= i %> = document.getElementById("mySubProjectChart<%= i %>");
          var mySubProjectChart<%= i %> = new Chart(csub<%= i %>, {
            type: 'line',
              data: {
                      labels: <%= raw range %>,
                      datasets: [
                          {
                          label: 'Aufwand IST in h',
                          data: <%= raw dataIst[:datakum] %>,
                          backgroundColor: [
                              'rgba(<%= rand(255) %>, <%= rand(0) %>, <%= rand(0) %>, 0.2)',
                          ],
                          borderColor: [
                              'rgba(54, 162, 235, 1)',
                          ],
                          borderWidth: 1
                          },
                          {
                          label: 'Aufwand PLAN in h',
                          data: <%= raw dataPlan[:datakum] %>,
                          backgroundColor: [
                              'rgba(<%= rand(0) %>, <%= rand(0) %>, <%= rand(255) %>, 0.2)',
                          ],
                          borderColor: [
                              'rgba(54, 162, 235, 1)',
                          ],
                          borderWidth: 1
                          },
                      ]
                  },
              options: {
                  title: {
                      display: true,
                      text: 'Aufwand in h kumuliert <%= Mobject.find(@subs[i]).name %>'
                  },
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          })

          var csub2<%= i %> = document.getElementById("mySubProjectChart2<%= i %>");
          var mySubProjectChart2<%= i %> = new Chart(csub2<%= i %>, {
            type: 'line',
              data: {
                      labels: <%= raw range %>,
                      datasets: [
                          {
                          label: 'Aufwand IST in h',
                          data: <%= raw dataIst[:data] %>,
                          backgroundColor: [
                              'rgba(<%= rand(255) %>, <%= rand(0) %>, <%= rand(0) %>, 0.2)',
                          ],
                          borderColor: [
                              'rgba(54, 162, 235, 1)',
                          ],
                          borderWidth: 1
                          },
                          {
                          label: 'Aufwand PLAN in h',
                          data: <%= raw dataPlan[:data] %>,
                          backgroundColor: [
                              'rgba(<%= rand(0) %>, <%= rand(0) %>, <%= rand(255) %>, 0.2)',
                          ],
                          borderColor: [
                              'rgba(54, 162, 235, 1)',
                          ],
                          borderWidth: 1
                          },
                      ]
                  },
              options: {
                  title: {
                      display: true,
                      text: 'Aufwand in h pro Monat <%= Mobject.find(@subs[i]).name %>'
                  },
                  scales: {
                      yAxes: [{
                          ticks: {
                              beginAtZero:true
                          }
                      }]
                  }
              }
          })
        <% end %>
    <% end %>

    <% @users = @mobject.madvisors.select("user_id").distinct %>
    <% @users.each do |u| %>
      <% @user = User.find(u.user_id) %>
      <% @tts = Timetrack.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?', @subs[i], @c_scope).group("jahrmonat").order(:jahrmonat) %>
      <% @pts = Planning.select("jahrmonat, sum(amount) as summe").where('mobject_id=? and costortime=?', @subs[i], @c_scope).group("jahrmonat").order(:jahrmonat) %>
      <% dataIst = getReportData(range, @tts) %>
      <% dataPlan = getReportData(range, @pts) %>
      var ctu<%= u.user_id %> = document.getElementById("myUserChart<%= u.user_id %>");
      var myUserChart<%= u.user_id %> = new Chart(ctu<%= u.user_id %>, {
        type: 'line',
          data: {
                  labels: <%= raw range %>,
                  datasets: [
                      {
                      label: 'IST',
                      data: <%= raw dataIst[:datakum] %>,
                      backgroundColor: [
                          'rgba(<%= rand(255) %>, <%= rand(0) %>, <%= rand(0) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                      {
                      label: 'PLAN',
                      data: <%= raw dataPlan[:datakum] %>,
                      backgroundColor: [
                          'rgba(<%= rand(0) %>, <%= rand(0) %>, <%= rand(255) %>, 0.2)',
                      ],
                      borderColor: [
                          'rgba(54, 162, 235, 1)',
                      ],
                      borderWidth: 1
                      },
                  ]
              },
          options: {
              title: {
                  display: true,
                  text: 'Aufwand kumuliert in h <%= @user.name + " " + @user.lastname %>'
              },
              scales: {
                  yAxes: [{
                      ticks: {
                          beginAtZero:true
                      }
                  }]
              }
          }
      })
    <% end %>

});
</script>
<% end %>
