<h1>Custom Range Slider</h1>

  <p>Default range slider:</p>
  <input type="range" min="1" max="100" value="50">
  
  <p>Custom range slider:</p>
  <input type="range" min="1" max="100" value="50" class="price-slider" id="myRange">

   <%= form_for @sensor do |f| %>

        <% if @sensor.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@sensor.errors.count, "error") + " " + (I18n.t :notsaved )%></h2>
              <ul>
                  <% @sensor.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>


        <div class="row">
            <div class="col-md-6">
                <div class="panel-body ueberschrift">
                    <h1><%= @sensor.mobject.name %></h1> 
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel-body ueberschrift">
                    <div class="form-group" style="text-align:center">
                      <div class="circle" id="cbox">aaaa</div>
                    </div>
                    <div class="form-group">
                       <%= f.label I18n.t :value %><br>
                       <%= f.text_field :svalue, class:"form-control" %>
                       
                      <div class="price-slider">
                        <h4 class="great rot">Rot</h4>
                        <div class="col-sm-12">
                         <div id="slider0"></div>
                        </div>
                      </div>
                      <div id="slider-value">muh</div>
                      <br><br>

                      <div class="price-slider">
                        <h4 class="great rot">Rot</h4>
                        <div class="col-sm-12">
                         <div id="slider1"></div>
                        </div>
                      </div>
                      <div class="price-slider">
                        <h4 class="great gruen">Grün</h4>
                        <div class="col-sm-12">
                          <div id="slider2"></div>
                        </div>
                      </div>
                      <div class="price-slider">
                        <h4 class="great blau">Blau</h4>
                        <div class="col-sm-12">
                          <div id="slider3"></div>
                        </div>
                      </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-submit btn-lg" id="but">Speichern<span class="glyphicon glyphicon-chevron-right pull-right" style="padding-right: 10px;"></span></button>
                      <%= link_to mobject_path(:id => @sensor.mobject_id, :topic => "objekte_sensordaten") do %>
                        <i class="btn btn-default btn-lg btn-submit">Abbrechen</i>
                      <% end %>
                    </div>
                  </div>
                </div>
            </div>
       </div>
       <%= f.hidden_field :mobject_id, class:"form-control" %>
       <%= f.hidden_field :svalue, :id => "svalue", class:"form-control" %>
       <%= f.hidden_field :bvalue, class:"form-control" %>
       <%= f.hidden_field :value, class:"form-control" %>
  <% end %>

<% if false %>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<% end %>
<% if true %>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.min.js"></script><
<% end %>

<script>
      function init() {
          $("#slider0").slider({
              animate: true,
              value:0,
              min: 0,
              max: 255,
              step: 1,
              slide: function(event, ui) {
                  update(0,ui.value); //changed
              }
          });

          $("#slider1").slider({
              animate: true,
              value:0,
              min: 0,
              max: 255,
              step: 1,
              slide: function(event, ui) {
                  update(1,ui.value); //changed
              }
          });

          $("#slider2").slider({
              animate: true,
              value:0,
              min: 0,
              max: 255,
              step: 1,
              slide: function(event, ui) {
                  update(2,ui.value); //changed
              }
          });

          $("#slider3").slider({
              animate: true,
              value:0,
              min: 0,
              max: 255,
              step: 1,
              slide: function(event, ui) {
                  update(3,ui.value); //changed
              }
          });

          //Added, set initial value.
          $("#rot").val(0);
          $("#gruen").val(0);
          $("#blau").val(0);
          $("#red").val(0);
          
          update();
          
      };

      //changed. now with parameter
      function update(slider,val) {
        var $red = $( "#slider0" ).slider( "value" );
        var $rot = $( "#slider1" ).slider( "value" );
        var $gruen = $( "#slider2" ).slider( "value" );
        var $blau = $( "#slider3" ).slider( "value" );
        var c = rgb($rot,$gruen,$blau);
        
        var $hrot = $rot.toString(16);
        var $hgruen = $gruen.toString(16);
        var $hblau = $blau.toString(16);
        
        if ($hrot.length == 1) {
          $hrot = "0"+$hrot;
        }
        if ($hgruen.length == 1) {
          $hgruen = "0"+$hgruen;
        }
        if ($hblau.length == 1) {
          $hblau = "0"+$hblau;
        }
      	$("#svalue").val("#"+$hrot+$hgruen+$hblau);
      	$("#sensor_svalue").val("#"+$hrot+$hgruen+$hblau);
        $("#cbox").text(c);
        $("#cbox").css("background-color",c);

        $('#slider0 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$red+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
        $('#slider1 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$rot+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
        $('#slider2 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$gruen+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
        $('#slider3 a').html('<label><span class="glyphicon glyphicon-chevron-left"></span> '+$blau+' <span class="glyphicon glyphicon-chevron-right"></span></label>');
    }

    function rgb(r, g, b){
      return "rgb("+r+","+g+","+b+")";
    }
    
    function helpme() {
    }
</script>

<script>
  document.addEventListener("turbolinks:load", function() {init()})
</script>
