<% @search.search_domain %>
<br>
<div class="contact-form">
    <div class="container"
    <div class="jumbotron">

    <%= form_for @search do |f| %>

        <% if @search.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@search.errors.count, "error") + " " + (I18n.t :notsaved) %></h2>
              <ul>
                  <% @search.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
              </ul>
            </div>
        <% end %>

        <%= header("Abfrage "+ @search.name) %>
        <% @search.build_sql(current_user) %>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'

                  <div class="form-group">
                    <%= f.label (I18n.t :bezeichnung) %><br/>
                    <%= f.text_field :name, autofocus: true, class:"form-control"%>
                  </div>
                  <!--<div class="form-group">-->
                  <!--  <%= f.label (I18n.t :beschreibung) %><br/>-->
                  <!--  <%= f.text_field :description, autofocus: true, class:"form-control"%>-->
                  <!--</div>-->

                 <% case @search.search_domain %>
                   <% when "personen" %>
                    <div class="form-group">
                      <%= f.label (I18n.t :organisation) %><br/>
                      <%= f.text_field :org, autofocus: true, class:"form-control"%>
                    </div>
                    <div class="form-group">
                      <%= f.label (I18n.t :kostenstelle) %><br/>
                      <%= f.text_field :costinfo, autofocus: true, class:"form-control"%>
                    </div>

                   <% when "institutionen" %>
                      <div class="form-group">
                        <%= f.label (I18n.t :name) %><br/>
                        <%= f.text_field :name, autofocus: true, class:"form-control"%>
                      </div>
                      <div class="form-group">
                        <%= f.label (I18n.t :branche) %><br/>
                        <%= f.collection_select :mcategory_id, Mcategory.where('ctype=?',"branche").order(:name), :id, :name, {:include_blank => true}, class:"form-control" %>
                      </div>

                    <% when "objekte" %>
                      <% if @search.mtype == "projekte" %>
                        <!--<div class="form-group">-->
                        <!--  <%= f.label (I18n.t :bezeichnung) %><br/>-->
                        <!--  <%= f.text_field :name, autofocus: true, class:"form-control"%>-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                        <!--  <%= f.label (I18n.t :beschreibung) %><br/>-->
                        <!--  <%= f.text_area :description, class:"form-control"%>-->
                        <!--</div>-->
                          <div class="form-group">
                            <%= f.label (I18n.t :kategorie) %><br/>
                            <%= f.collection_select :mcategory_id, Mcategory.where('ctype=?',"projekte").order(:name), :id, :name, {:include_blank => true}, class:"form-control" %>
                          </div>
                          <div class="form-group">
                            <%= f.label (I18n.t :freecat) %><br/>
                            <%= f.text_field :freecat1, class:"form-control"%>
                            <%= f.label (I18n.t :freecat) %><br/>
                            <%= f.text_field :freecat2, class:"form-control"%>
                            <%= f.label (I18n.t :freecat) %><br/>
                            <%= f.text_field :freecat3, class:"form-control"%>
                          </div>
                          <div class="form-group">
                            <%= f.label "Datum von-bis:" %>
                            <div class="input-group">
                              <%= f.text_field :date_from, :value => (@search.date_from), :style => "text-align: Right", class:"form-control" %>
                              <div class="input-group-addon"> Datum von</div>
                            </div>
                            <div class="input-group">
                              <%= f.text_field :date_to, :value => (@search.date_to), :style => "text-align: Right", class:"form-control" %>
                              <div class="input-group-addon"> Datum bis</div>
                            </div>
                          </div>
                       <% end %>

                  <% end %>

                  <div class="form-group">
                    <%= f.label (I18n.t :stichworte) %><br/>
                    <%= f.text_field :keywords, class:"form-control"%>
                  </div>
                  <div class="actions">
                     <%= f.submit (I18n.t :speichern),  class:"btn btn-primary btn-lg btn-download"%>
                    <% if @search.controller != nil and @search.controller != "" %>
                      <%= link_to url_for(action: "index", controller: @search.controller) do %>
                        <i class="btn btn-default btn-lg btn-download">Abbrechen</i>
                      <% end %>
                    <% end %>
                  </div>

                  <%= f.hidden_field :user_id %>
                  <%= f.hidden_field :search_domain %>
                  <%= f.hidden_field :controller %>
                  <%= f.hidden_field :counter %>
                  <%= f.hidden_field :mtype %>

          </div>
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">'
            <%= image_tag("abfragen.jpg", class: "img-responsive") %>
          </div>
        </div>

    <% end %>                
    </div>
    </div>
</div>
<br>

<script>
    $('#search_date_from').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "de",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
    $('#search_date_to').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 1,
        language: "de",
        daysOfWeekHighlighted: "0,6",
        todayBtn: true,
        todayHighlight: true,
        firstDay: 1}
    );
</script>