  <div class="row">
    <div class="col-md-12">
      <%= header_cicd((I18n.t :rating) + " " + @idea.header, nil, @idea.mobject) %>
    </div>
  </div>
  
  <%= build_medialistNew(@idea.mobject.crits, "crits", @idea.id) %>

  <%found = false %>
  <% @idea.mobject.madvisors.where('grade=? or grade=?',"Jury-Vorsitz", "Jury-Mitglied").each do |u| %>
    <% if u.user_id == current_user.id %>
      <% u.user.fullname %>
      <% found = true %>
    <% end %>
  <% end %>

  <% if found or current_user.superuser %>
    <%= header_cicd((I18n.t :bewertung), nil, @idea.mobject) %>
    <br>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Jury</th>
        <% @idea.mobject.crits.each do |c| %>
          <th>
            <%= c.name + " (" + c.rating.to_s + ")" %>
          </th>
        <% end %>
        <th>Total</th>
      </tr>
      </thead>
      <tbody>
      <% @idea.mobject.madvisors.where('grade=? or grade=?',"Jury-Vorsitz", "Jury-Mitglied").each do |u| %>
        <tr>
          <td>
            <%= u.user.fullname %>
            <% u.user.name + " " + u.user.lastname %>
          </td>
          <% @idea.mobject.crits.each do |c| %>
            <td>
              <% @ir = IdeaRating.where('idea_id=? and crit_id=? and user_id=?',@idea.id, c.id, u.user_id).first %>
                <% if (@ir and current_user.id == u.user_id) or (@ir and current_user.superuser) %>
                  <%= link_to(edit_idea_rating_path(@ir)) do %>
                    <i class="btn btn-primary btn-lg fa fa-star"></i>
                  <% end %>
                  <i><%= @ir.rating %></i><br><br>
                  <i><%= @ir.rating_text %></i><br><br>
                <% else %>
                  <i>noch nicht bewertet<br>
                <% end %>
            </td>
          <% end %>
          <td><%= "i.rating.to_s" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to(mobject_path(:id => @idea.mobject.id, :topic => "objekte_ideen")) do %>
      <% content_tag(:i, " Abbrechen", class:"btn btn-default btn-lg") %>
  <% end %>
  