<div class="row">
    <div class='col-xs-12'>
      <div class='panel-body'>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div>
              <%= header((I18n.t :iot)) %>
            </div>
            <% @iotsb = Iot.select('frame').distinct %>
            <% @iotsb.each do |m| %>
              <%= link_to iots_path(:scope => m.frame) do %>
                <span><i class="btn btn-default fa fa-filter"><%= m.frame %></i></span>
              <% end %>
            <% end %>
          </div>
        </div>
        <br><br>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div>
              <%= header((I18n.t :iot)) %>
              <%= link_to iots_path(:scope => @scope, :del => true) do %>
                <span><i class="btn btn-special fa fa-trash"><%=  %></i></span>
              <% end %>
            </div>
        		<table class="table table-striped">
              <thead>
                <tr>
                  <th>Datum</th>
                  <th>Frame</th>
                  <th>Name</th>
                  <th>Wert</th>
                  <th>Owner</th>
                  <th>Owner_Typ</th>
                  <th colspan=3>Aktion</th>
                </tr>
              </thead>
              <tbody>
                <% @iots.each do |iot| %>
                  <tr>
                    <td><%= iot.created_at %></td>
                    <td><%= iot.frame if iot.frame %></td>
                    <td><%= iot.name %></td>
                    <td><%= iot.value %></td>
                    <td><%= iot.owner_id %></td>
                    <td><%= iot.owner_type %></td>

                    <td><%= link_to 'Show', iot %></td>
                    <td><%= link_to 'Edit', edit_iot_path(iot) %></td>
                    <td><%= link_to 'Destroy', iot, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
        
      </div>
    </div>
</div>

<%= link_to 'New Iot', new_iot_path %>
