  <section id="dashboard" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">myProject Cockpit</h2>
                <p class="bnr-para">Alles auf einem Blick...<br> </p>
                <div class="brn-btn">
                	
                  <h3>
                    User Online: <span class="logo-dec"><div id="field1" style="display:inline"></div></span>
                    User registriert: <span class="logo-dec"><div id="field2" style="display:inline"></div></span>
                    Projekte: <span class="logo-dec"><div id="field3" style="display:inline"></div></span>
                    Leistungserfassungen: <span class="logo-dec"><div id="field4" style="display:inline"></div></span>
                    Kapazitätsplanungen: <span class="logo-dec"><div id="field5" style="display:inline"></div></span>
                  </h3>

                  <% @users = User.select("date(created_at) as datum, count(id) as summe").group("date(created_at)") %>
                  <% @anz_pk = [['Datum','Anzahl']] %>
                  <% @users.each do |i| %>
                    <% @anz_pk << [i.datum.to_s, i.summe] %>
                  <% end %>
              
                  <% @companies = Company.select("date(created_at) as datum, count(id) as summe").group("date(created_at)") %>
                  <% @anz_fk = [['Datum','Anzahl']] %>
                  <% @companies.each do |i| %>
                    <% @anz_fk << [i.datum.to_s,  i.summe] %>
                  <% end %>
              
                  <% @objects = Mobject.select("date(created_at) as datum, count(id) as summe").group("date(created_at)") %>
                  <% @anz_obj = [['Datum','Anzahl']] %>
                  <% @objects.each do |i| %>
                    <% @anz_obj << [i.datum.to_s, i.summe] %>
                  <% end %>
              

                  <div class="container">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      <b><%= (I18n.t :personen) %></b>
                        <div id="curve_chart1"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      <b><%= (I18n.t :institutionen) %></b>
                        <div id="curve_chart2"></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                      <b><%= (I18n.t :objekte) %></b>
                        <div id="curve_chart3"></div>
                    </div>
                  </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<script>
window.setInterval(callme, 50000 );
function callme() {
      //alert("hi");
      $.ajax({

      crossDomain: true,
      //url: "https://tgcloudtest-horstwurm.c9users.io/home/arduino.json",
      url: "/home/arduino.json",

      //force to handle it as text
      dataType: "text",
      success: function(data) {
        //data downloaded so we call parseJSON function 
        //and pass downloaded data
        var json = $.parseJSON(data);
        $("#field1").text(json[0].user);
        $("#field2").text(json[1].reg);
        $("#field3").text(json[2].projekte);
        $("#field4").text(json[3].aufwand);
        $("#field5").text(json[4].kapa);
        //alert(json[0].id + json[0].kategorie + " " + json[0].summe);
      }
  });
}
</script>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart1);
  function drawChart1() {
    var data = google.visualization.arrayToDataTable(<%= raw @anz_pk %>);
    var options = {
      title: '<%= (I18n.t :anmeldenundregistrieren) + " " + (I18n.t :personen) %>',
      curveType: 'function',
      colors: ['<%= $graph_color1 %>'],
      backgroundColor:'transparent',
      legend: { position: 'bottom' }
    };
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart1'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart2);
  function drawChart2() {
    var data = google.visualization.arrayToDataTable(<%= raw @anz_fk %>);
    var options = {
      title: '<%= (I18n.t :anmeldenundregistrieren) + " " + (I18n.t :institutionen) %>',
      curveType: 'function',
      colors: ['<%= $graph_color1 %>'],
      backgroundColor:'transparent',
      legend: { position: 'bottom' }
    };
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart2'));
    chart.draw(data, options);
  }
</script>

<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart3);
  function drawChart3() {
    var data = google.visualization.arrayToDataTable(<%= raw @anz_obj %>);
    var options = {
      title: '<%= (I18n.t :anmeldenundregistrieren) + " " + (I18n.t :objekte) %>',
      curveType: 'function',
      colors: ['<%= $graph_color1 %>'],
      backgroundColor:'transparent',
      legend: { position: 'bottom' }
    };
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart3'));
    chart.draw(data, options);
  }
</script>

<script>
  document.addEventListener("turbolinks:load", function(){drawChart1(); drawChart2(); drawChart3();})
</script>
