    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="#">TG<span class="logo-dec">Cloud</span></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

      				<% if $controller_list.include?(controller_name) and (action_name == "index") %>
      					<% @items = url_for(action: action_name, controller: controller_name) %>
                <li class="">
      					<%= form_tag @items, method: 'get' do %>
      						<div class="form-inline">
      							<div class="form-group">
      								  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Suchen...' %>
      								  <% button_tag "", type: 'submit', class: "btn btn-nav btn-xs fa fa-search" %>
      							</div>
      						</div>
      					<% end %>
                </li>
      				<% end %>

                  <li class="active"><a href="../#main-header">Home</a></li>
                  <li class=""><a href="../#myservices">Services</a></li>
                  <% if false %>
                  <li class=""><a href="../#yield">Data</a></li>
                  <li class=""><a href="../#feature">About</a></li>
                  <li class=""><a href="../#service">Services</a></li>
                  <li class=""><a href="../#portfolio">Portfolio</a></li>
                  <li class=""><a href="../#testimonial">Kundenfeedback</a></li>
                  <li class=""><a href="../#blog">Blog</a></li>
                  <li class=""><a href="../#contact">Kontakt</a></li>
                  <% end %>
                  <li class=""><a href="../#partner">Partner</a></li>
                  <% if user_signed_in? and (current_user.superuser or current_user.webmaster) %>
                    <li class=""><a href="../#superuser">Admin</a></li>
                  <% end %>
                 </ul>
              </div>
            </div>
          </nav>
        </header>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
                <h1 class="bnr-title">Willkommen bei TG<span>cloud</span></h1>
                <% if user_signed_in? %>
                  <%= contactChip(current_user) %>
                <% end %>
                <br>
               <h2 class="bnr-sub-title">Starten Sie jetzt !!</h2>
                <p class="bnr-para">Registrieren Sie sich noch heute und profitieren Sie sofort.<br> </p>
                <div class="brn-btn">
                  <% if user_signed_in? %>
        					  <%= link_to(destroy_user_session_path, method: :delete) do %>
        				    	<i class="btn btn-more">Abmelden</i>
        					  <% end %>
        					<% else %>
        					  <%= link_to new_user_registration_path do %>
        				    	<i class="btn btn-download">Registrieren</i>
        					  <% end %>
          					<%= link_to new_user_session_path do %>
          			      <i class="btn btn-more">Anmelden</i>
          					<% end %> 
                  <% end %>
                </div>
                <div class="overlay-detail">
                  <a href="#yield"><i class="fa fa-angle-down"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->

<% if false %>

<% controller_name + action_name %>
<% if (controller_name == "home" and action_name == "index11") or (controller_name == "home" and action_name == "index18") %>
<% else %>
<div class="nav-panel-black navbar-fixed-top">
	<div class="container-fluid">
		<marquee height="100%" scrolldelay="150"><%= ticker() %></marquee>	
		<div class="row">
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left">
				<%= link_to home_index3_path do %>
			            <i class="fa fa-home" style="font-size:3em"></i>
				<% end %>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
				<% if user_signed_in? %>
					<%= contactChip(current_user) %>
				<% end %>
			</div>
			
			<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-right">
				<% if user_signed_in? %>
					<%= link_to(destroy_user_session_path, method: :delete) do %>
				    	<i class="fa fa-log-out pull-right" style="font-size:3em"></i>
					<% end %>
				<% else %>
					<%= link_to new_user_session_path do %>
			            <i class="fa fa-log-in pull-right" style="font-size:3em"></i>
					<% end %> 
				<% end %>
			</div>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<% if $controller_list.include?(controller_name) and (action_name == "index") %>
					<% @items = url_for(action: action_name, controller: controller_name) %>
					<%= form_tag @items, method: 'get' do %>
						<div class="form-inline">
							<div class="form-group">
								  <%= search_field_tag 'search', nil, class: 'form-control', placeholder: 'Suchen...' %>
								  <% button_tag "", type: 'submit', class: "btn btn-nav btn-xs fa fa-search" %>
							</div>
						</div>
					<% end %>
				<% end %>
				
				<% if !flash.empty? and false %>
				    <% flash.each do |name, msg| %>
				      <% content_tag(:div, msg, class:"alert alert-warning") %>
				      <message><fade><%= msg %></fade></message> 
				    <% end %>
				<% end %>

			</div>
		</div>

	</div>
</div>
<br><br><br><br><br>
<% end %>

<% if false %>
	<%= render ("layouts/header2") %>
<% end %>

<script>
$(document).ready(function(){
        $("fade").fadeOut(10000);
});
</script>

<% end %>