    <div class="header">
      <div class="bg-color">
        <header id="main-header">
          <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="../#main-header">my<span class="logo-dec">PROJECT</span></a>
              </div>
              <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">

                  <!--<li class="active"><a href="../#main-header">Home</a></li>-->
                  <li class=""><a href="../#myservices">Services</a></li>
                  <li>
                  <% if user_signed_in? %>
                    <li>
            					<%= link_to user_path(:id => current_user.id) do %>
            			      MYPROFILE
            					<% end %> 
          					</li>
                    <li>
          					  <%= link_to(destroy_user_session_path, method: :delete) do %>
          					    LOGOUT
          					  <% end %>
          					</li>
        					<% else %>
          					<%= link_to new_user_session_path do %>
          			      LOGIN
          					<% end %> 
        					<% end %>
      					  </li>

                  <% if false %>
                    <li class=""><a href="../#yield">Data</a></li>
                    <li class=""><a href="../#feature">About</a></li>
                    <li class=""><a href="../#service">Services</a></li>
                    <li class=""><a href="../#portfolio">Portfolio</a></li>
                    <li class=""><a href="../#testimonial">Kundenfeedback</a></li>
                    <li class=""><a href="../#blog">Blog</a></li>
                    <li class=""><a href="../#contact">Kontakt</a></li>
                    <li class=""><a href="../#news">News</a></li>
                    <li class=""><a href="../#news">Veranstaltungen</a></li>
                    <li class=""><a href="../#subscription">Abonnement</a></li>
                    <li class=""><a href="../#partner">Partner</a></li>
                    <li class=""><a href="../#dashboard">Cockpit</a></li>
                    <% if user_signed_in? and (current_user.superuser or current_user.webmaster) %>
                      <li class=""><a href="../#superuser">Admin</a></li>
                    <% end %>
                  <% end %>

                 </ul>
              </div>
            </div>
          </nav>
        </header>
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
                <h1 class="bnr-title">Willkommen bei my<span>PROJECT</span></h1>
                <% if user_signed_in? %>
                  <%= contactChip(current_user) %>
                <% end %>
                <div class="brn-btn">
                  <% if user_signed_in? %>
                    <% if false %>
          					  <%= link_to(destroy_user_session_path, method: :delete) do %>
          				    	<i class="btn btn-primary btn-lg btn-download">Abmelden</i>
          					  <% end %>
          					 <% end %>
        					<% else %>
                   <h2 class="bnr-sub-title">Starten Sie jetzt !!</h2>
                    <p class="bnr-para">Registrieren Sie sich noch heute<br> </p>
        					  <%= link_to new_user_registration_path do %>
        				    	<i class="btn btn-primary btn-lg btn-download">Registrieren</i>
        					  <% end %>
          					  <% if false %>
            					<%= link_to new_user_session_path do %>
            			      <i class="btn btn-primary btn-lg btn-download">Anmelden</i>
            					<% end %> 
          				  <% end %>
                  <% end %>
                </div>
                <% if user_signed_in? %>
                <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                    <!-- Carousel Slides / Quotes -->
                    <div class="carousel-inner text-center">
                        <!-- Quote 1 -->
                        <div class="item active">
                            <div class="ex3">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                      <% current_user.madvisors.last(10).each do |m| %>
                                        <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                        <%= "Berechtigung " + m.grade + " für " %>
                                        <%= link_to(m.mobject) do %>
                                          <% m.mobject.name %>
                                        <% end %>
                                          erteilt
                                        <br><br>
                                      <% end %>
                                    </div>
                                </div>
                            </blockquote>
                            </div>
                        </div>
                        <!-- Quote 2 -->
                        <div class="item">
                            <div class="ex3">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                      <% current_user.timetracks.last(10).each do |m| %>
                                        <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                        <%= "Zeiterfassung " + m.amount.to_s + "für " %>
                                        <%= link_to(m.mobject) do %>
                                          <% m.mobject.name %>
                                        <% end %>
                                        <br><br>
                                      <% end %>
                                    </div>
                                </div>
                            </blockquote>
                            </div>
                        </div>
                        <!-- Quote 3 -->
                        <div class="item">
                            <div class="ex3">
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                      <% current_user.plannings.last(10).each do |m| %>
                                        <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                        <%= "Ressourcenplanung " + m.amount.to_s + "% für " %>
                                        <%= link_to(m.mobject) do %>
                                          <% m.mobject.name %>
                                        <% end %>
                                        <br><br>
                                      <% end %>
                                    </div>
                                </div>
                            </blockquote>
                            </div>
                        </div>
                    </div>
                    <!-- Bottom Carousel Indicators -->
                    <ol class="carousel-indicators">
                        <!--<li data-target="#quote-carousel" data-slide-to="1"><%= image_tag(User.find(1).avatar_file_name, :size => "128x128", :class => "img-responsive") %></li>-->

                        <li data-target="#quote-carousel" data-slide-to="0" class="active"><%= image_tag("projekte.png", :size => "128x128", :class => "img-responsive") %></li>
                        <li data-target="#quote-carousel" data-slide-to="1" ><%= image_tag("zeiterfassung.jpg", :size => "128x128", :class => "img-responsive") %></li>
                        <li data-target="#quote-carousel" data-slide-to="2" ><%= image_tag("crowd.jpg", :size => "128x128", :class => "img-responsive") %></li>
                    </ol>
                </div>
                <% end %>
                

                <!--<div class="overlay-detail">-->
                <!--  <a href="#yield"><i class="fa fa-angle-down"></i></a>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ HEADER-->
    <!---->

<script>
$(document).ready(function(){
        $("fade").fadeOut(10000);
});
</script>
