  <section id="news" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">News</h2>
                <div class="brn-btn">
                  
              <div class="container">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    
                    <h2>TGCloud</h2>

                    <div class="news blue">
                      <!--<span>News</span>-->
                      <ul>
                        <% Mobject.last(10).each do |m| %>
                            <li>
                              <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <%= showFirstImage2(:small, m, m.mdetails) %>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                  <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                  <%= m.mtype %>
                                  <%= link_to m do %>
                                    <%= m.name %> von 
                                  <% end %>
                                  <% if m.owner_type == "User" %>
                                    <%= m.owner.name + " " + m.owner.lastname %>
                                  <% end %>
                                  <% if m.owner_type == "Company" %>
                                    <%= m.owner.name %>
                                  <% end %>
                                </div>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    
                    <% if user_signed_in? %>

                      <h2>myNews</h2>
  
                      <div class="news2 blue">
                        <!--<span>News2</span>-->
                        <ul>
  
                          <!--last AZ Rapport-->
                          <li>
                            <% t = current_user.timetracks.last %>
                            <% if t %>
                              <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <%= showFirstImage2(:small, t.mobject,  t.mobject.mdetails) %>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                  <b><%= t.created_at.strftime("%d.%m.%Y") %></b><br>
                                  <%= link_to t.mobject do %>
                                    <%= t.amount %> für <%= t.mobject.name %>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          </li>
  
                          <!--Favourits-->
                          <% f = Favourit.where('object_name=? and object_id=?', "User", current_user.id).last(5) %>
                          <% f.each do |m| %>
                              <% u=User.find(m.user_id) %>
                              <li>
                                <div class="row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <%= showImage2(:small, u, true) %>
                                  </div>
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                    <%= u.name + " " + u.lastname + " hat SIe als Favourit zugefügt" %>
                                  </div>
                                </div>
                              </li>
                          <% end %>
  
                          <!--eMails-->
                          <% f = Email.where('m_to=?', current_user.id).last(5) %>
                          <% f.each do |m| %>
                              <% u=User.find(m.m_from) %>
                              <li>
                                <div class="row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <%= showImage2(:small, u, true) %>
                                  </div>
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                    <%= m.header + " " + m.body %>
                                  </div>
                                </div>
                              </li>
                          <% end %>

                        </ul>
                      </div>

                    <% end %>

                  </div>

                  </div>
                </div>
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

                   <div id="chart_div"></div>


   <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
   <script type="text/javascript">
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }
    
      google.charts.load('current', {'packages':['gauge']});
      google.charts.setOnLoadCallback(drawChart1);

      function drawChart1() {

        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Memory', 80],
          ['CPU', 55],
          ['Network', 68]
        ]);

        var options = {
          width: 400, height: 120,
          redFrom: 90, redTo: 100,
          yellowFrom:75, yellowTo: 90,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);

        setInterval(function() {
          data.setValue(0, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 13000);
        setInterval(function() {
          data.setValue(1, 1, 40 + Math.round(60 * Math.random()));
          chart.draw(data, options);
        }, 5000);
        setInterval(function() {
          data.setValue(2, 1, 60 + Math.round(20 * Math.random()));
          chart.draw(data, options);
        }, 26000);
      }

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart2);

      function drawChart2() {
        var data = google.visualization.arrayToDataTable([
          ['Year', 'Sales', 'Expenses'],
          ['2004',  1000,      400],
          ['2005',  1170,      460],
          ['2006',  660,       1120],
          ['2007',  1030,      540]
        ]);

        var options = {
          title: 'Company Performance',
          curveType: 'function',
          backgroundColor:'transparent',
          legend: { position: 'bottom' }
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
     </script>
