  <section id="news" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">Event Kalender</h2>
                <div class="brn-btn">
                  
              <div class="container">
                  		<div class="row">
              				<div class="col-md-12">
              				  <% if false %>
              					<div class="page-header">
              					  <h2>Event Kalender</h2>
              					</div>
              					<% end %>
              					<div style="display:inline-block;width:100%;overflow-y:auto;">
              					<ul class="timeline timeline-horizontal">
              
                          <% @m = Mobject.where('mtype=?', "projekte") %>
                          <% @m.each do |m| %>
                          
                            <%= "h" %>
                          
                						<li class="timeline-item">
                						  <% if false %>
                							<div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i>tatatata</div>
                						  <% end %>
                							<div class="timeline-badge primary"><i class="fa fa-<%= getinfo2(m.mtype.to_sym)["info"] %>"></i></div>
                							<div class="timeline-panel" style="background-color:transparent">
                								<div class="timeline-heading" style="text-align:left">
                									<h4 class="timeline-title"><%= m.name %></h4>
                									<%= showFirstImage2(:small, m, m.mdetails) %>
                									<p><small class="text-muted"><i class="fa fa-safari"></i> <%= m.created_at.strftime("%d.%m.%Y") %></small></p>
                								</div>
                								<div class="timeline-body">
                								  <% if m.description.length > 100 %>
                  									<p><%= m.description[0..100] %></p>
                								  <% else %>
                  									<p><%= m.description %></p>
                									<% end %>
                								</div>
                							</div>
                						</li>
                					
                					<% end %>
              
              					</ul>
              				</div>
              				</div>
              			</div>
                
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
