  <section id="news" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">Event Kalender</h2>
                <div class="brn-btn">
                  
              <% if false %>
              <div class="container">
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    
                    <h2>TGCloud</h2>

                    <div class="news blue">
                      <!--<span>News</span>-->
                      <ul>
                        <% Mobject.order(created_at: :desc).first(10).each do |m| %>
                            <li>
                              <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <%= showFirstImage2(:small, m, m.mdetails) %>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                  <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                  <%= m.mtype %>
                                  <%= link_to m do %>
                                    <%= m.name %> von 
                                  <% end %>
                                  <% if m.owner_type == "User" %>
                                    <%= m.owner.name + " " + m.owner.lastname %>
                                  <% end %>
                                  <% if m.owner_type == "Company" %>
                                    <%= m.owner.name %>
                                  <% end %>
                                </div>
                              </div>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>

                  <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    
                    <% if user_signed_in? %>

                      <h2>myNews</h2>
  
                      <div class="news2 blue">
                        <!--<span>News2</span>-->
                        <ul>
  
                          <!--last AZ Rapport-->
                          <li>
                            <% t = current_user.timetracks.last %>
                            <% if t %>
                              <div class="row">
                                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                  <%= showFirstImage2(:small, t.mobject,  t.mobject.mdetails) %>
                                </div>
                                <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                  <b><%= t.created_at.strftime("%d.%m.%Y") %></b><br>
                                  <%= link_to t.mobject do %>
                                    <%= t.amount %> für <%= t.mobject.name %>
                                  <% end %>
                                </div>
                              </div>
                            <% end %>
                          </li>
  
                          <!--Favourits-->
                          <% f = Favourit.where('object_name=? and object_id=?', "User", current_user.id).last(5) %>
                          <% f.each do |m| %>
                              <% u=User.find(m.user_id) %>
                              <li>
                                <div class="row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <%= showImage2(:small, u, true) %>
                                  </div>
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                    <%= u.name + " " + u.lastname + " hat SIe als Favourit zugefügt" %>
                                  </div>
                                </div>
                              </li>
                          <% end %>
  
                          <!--eMails-->
                          <% f = Email.where('m_to=?', current_user.id).last(5) %>
                          <% f.each do |m| %>
                              <% u=User.find(m.m_from) %>
                              <li>
                                <div class="row">
                                  <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                    <%= showImage2(:small, u, true) %>
                                  </div>
                                  <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <b><%= m.created_at.strftime("%d.%m.%Y") %></b><br>
                                    <%= m.header + " " + m.body %>
                                  </div>
                                </div>
                              </li>
                          <% end %>

                        </ul>
                      </div>

                    <% end %>

                  </div>

                  </div>
                </div>
              <% end %>
                
              <div class="container">
                  		<div class="row">
              				<div class="col-md-12">
              				  <% if false %>
              					<div class="page-header">
              					  <h2>Event Kalender</h2>
              					</div>
              					<% end %>
              					<div style="display:inline-block;width:100%;overflow-y:auto;">
              					<ul class="timeline timeline-horizontal">
              
                          <% @m = Mobject.where('mtype=? or (mtype=? and msubtype=?) and date_from<=? and date_to>=?',"veranstaltungen", "angebote", "aktion", Date.today, Date.today) %>
                          <% @m.each do |m| %>
                          
                						<li class="timeline-item">
                						  <% if false %>
                							<div class="timeline-badge primary"><i class="glyphicon glyphicon-check"></i>tatatata</div>
                						  <% end %>
                							<div class="timeline-badge primary"><i class="fa fa-<%= getinfo2(m.mtype.to_sym)["info"] %>"></i></div>
                							<div class="timeline-panel" style="background-color:transparent">
                								<div class="timeline-heading" style="text-align:left">
                									<h4 class="timeline-title"><%= m.name %></h4>
                									<%= showFirstImage2(:small, m, m.mdetails) %>
                									<p><small class="text-muted"><i class="fa fa-safari"></i> <%= m.created_at.strftime("%d.%m.%Y") %></small></p>
                								</div>
                								<div class="timeline-body">
                								  <% if m.description.length > 100 %>
                  									<p><%= m.description[0..100] %></p>
                								  <% else %>
                  									<p><%= m.description %></p>
                									<% end %>
                								</div>
                							</div>
                						</li>
                					
                					<% end %>
              
              					</ul>
              				</div>
              				</div>
              			</div>
                
              </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
