  <section id="subscription" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <% if false %>
                 <h2>
                   <%= Mobject.where('mtype=?',"innovationswettbewerbe").count %><span class="logo-dec">Wettbewerbe</span>
                   <%= Idea.count %><span class="logo-dec">Ideen</span>
                   <%= Mobject.where('mtype=?',"umfragen").count %><span class="logo-dec">Umfragen</span>
                   <%= Mobject.where('mtype=?',"projekte").count %><span class="logo-dec">Projekte</span>
                   <%= Timetrack.count %><span class="logo-dec">Leistungserfassungen</span>
                   <%= Planning.count %><span class="logo-dec">Leistungserfassungen</span>
                 </h2>
               <% end %>
               <h2 class="bnr-sub-title">Verfügbare Abonnements</h2>
                <p class="bnr-para">Sie können alle Services gratis nutzen; Wollen Sie mehr als drei Services (Projekte, Umfragen, Wettbewerbe, etc) selbst erstellen, dann müssen Sie ein entsprechendes Abonnement lösen<br> </p>
                <div class="brn-btn">
		            <%= build_medialistNew(Appparam.where('info=?', "payable"), "appparams", "user") %>
					      <br><br>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
