  <section id="superuser" class="section-padding wow fadeIn delay-05s">
    <div class="header">
      <div class="bg-color">
        <div class="wrapper">
          <div class="container">
            <div class="row">
              <div class="banner-info text-center wow fadeIn delay-05s">
               <h2 class="bnr-sub-title">Administration</h2>
                <div class="brn-btn">
                  <% if false %>
    	  				   <% if current_user.webmaster %>
    	  						<%= link_to webmasters_path do %>
    	    			      <i class="btn btn-download"><%= I18n.t :webmaster %></i>
    	    					<% end %>
    	  				   <% end %>
    	  				   <% if current_user.superuser %>
  	                  <%= link_to appparams_path do %>
  	          				  <i class="btn btn-download"><%= I18n.t :funktionsmgt %></i>
  	          			  <% end %>
  	                  <%= link_to home_index9_path do %>
            				    <i class="btn btn-download"><%= I18n.t :tabellenmgt %></i>
            				  <% end %>
      	  					  <%= link_to home_index2_path do %>
      	  				    	<i class="btn btn-download"><%= (I18n.t :userstat) %></i>
      	  					  <% end %>
              		 <% end %>
      						 <% if current_user.id == 1 %>
          						<%= link_to home_index17_path(:mailgunflag => true) do %>
        				    	  <i class="btn btn-more">Mailgun ON</i>
        				    	<% end %>
          						<%= link_to home_index17_path(:mailgunflag => false) do %>
          				    	  <i class="btn btn-more">Mailgun OFF</i>
          				    <% end %>
          						<%= link_to iots_path do %>
          				    		<i class="btn btn-more">IoT test</i>
          				    <% end %>
          						<%= link_to home_temptest_path do %>
          				    		<i class="btn btn-more">test it</i>
          				    <% end %>
        					 <% end %>
        					 <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>