    <section id="testimonial" class="wow fadeInUp delay-05s">
      
      <div class="bg-testicolor">
        <div class="container section-padding">
          <div class="row">
            <div class="testimonial-item">
              <ul class="bxslider">
                <% Mobject.last do |m| %>
                  <li>
                    <blockquote>
                      <%= showFirstImage2(:medium, m, m.mdetails) %>
                      <p>Come a day there won't be room for naughty men like us to slip about at all. This job goes south, there well may not be another. </p>
                    </blockquote>
                    <small>Shaun Paul, Client</small>
                  </li>
                <% end %>
                <li>
                  <blockquote>
                    <%= image_tag("thumb.png") %>
                    <p>Come a day there won't be room for naughty men like us to slip about at all. This job goes south, there well may not be another. </p>
                  </blockquote>
                  <small>Shaun Paul, Client</small>
                </li>
                <li>
                  <blockquote>
                    <%= image_tag("thumb.png") %>
                    <p>So here is us, on the raggedy edge. Don't push me, and I won't push you. </p>
                  </blockquote>
                  <small>Marry Smith, Client</small>
                </li>
                <li>
                  <blockquote>
                    <%= image_tag("thumb.png") %>
                    <p>Come a day there won't be room for naughty men like us to slip about at all. This job goes south, there well may not be another.</p>
                  </blockquote>
                  <small>Vivek Singh, Client</small>
                </li>
                <li>
                  <blockquote>
                    <%= image_tag("thumb.png") %>
                    <p>So here is us, on the raggedy edge. Don't push me, and I won't push you.</p>
                  </blockquote>
                  <small>John Doe, Client</small>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

