<!-- set some global variables -->
<% $controller_list = %w[mobjects companies users madvisors showcal] %>
<% $wochentage = %w[Mo Di Mi Do Fr Sa So] %>
<% $appurl = "https://myproject-horstwurm.c9users.io" %>
<% if false %>
  <% $appurl = "myprojecttest.herokuapp.com" %>
<% end %>
<% $usemailgun = true %>
<% init_apps %>
<% $switch_color = "#ACC550" %>
<% $graph_color = "#ACC550" %>
<% $graph_color1 = "#BE9E21" %>
<% $graph_color2 = "#495469" %> 
<% $grey = "lightgrey" %>
<% $app_name = "myTGCloud" %>
<% $sqllite = true %>
<% I18n.locale = :de %>
<!-- set some global varianbles -->

<!DOCTYPE html>
<html>
  <head>
    <title>myPROJECT Plattform</title>
    <% if true %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <% end %>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

<script>
  function scrollTo(hash) {
      location.hash = "#yield";
    }
</script>

  <body>
  
  <div class="loader"></div>
    <div id="myDiv">

    <%= render 'layouts/header' %>
    
    <%= render 'layouts/yield' %>

    <% if user_signed_in? and (current_user.superuser or current_user.webmaster) %>
      <%= render 'layouts/superuser' %>
    <% end %>

    <% if false %>
      <%= render 'layouts/news' %>

      <%= render 'layouts/dashboard' %>

      <%= render 'layouts/subscription' %>

      <%= render 'layouts/partner' %>
    <% end %>

      <% flash.each do |name, msg| %>
        <% content_tag(:div, msg, class:"alert alert-warning") %>
        <div id="snackbar"><%= msg %></div>
      <% end %>
  
    </div>
  </div>

  <% if flash and flash.count>0 %>
    <script>
    function myFunction() {
        var x = document.getElementById("snackbar")
        x.className = "show";
        setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
    }
    myFunction();
    </script>
  <% end %>

  </body>
  
</html>

