
<% $controller_list = %w[mobjects companies users madvisors showcal] %>
<% $wochentage = %w[Mo Di Mi Do Fr Sa So] %>
<% $appurl = "https://tgcloud-horstwurm.c9users.io" %>
<% if false %>
  <% $appurl = "mytgcloudtest.herokuapp.com" %>
<% end %>
<% $usemailgun = true %>
<% init_apps %>
<% $switch_color = "#ACC550" %>
<% $graph_color = "#ACC550" %>
<% $graph_color1 = "#BE9E21" %>
<% $graph_color2 = "#495469" %> 
<% $app_name = "myTGCloud" %>
<% I18n.locale = :de %>

<!DOCTYPE html>
<html>
  <head>
    <title>TGCloud Plattform</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAP0PoTXZAKRi5IO3fM5yRO39puZPiR0iw"></script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:400,300|Raleway:300,400,900,700italic,700,300,600">
    
    <% if false %>
    <link rel="stylesheet" type="text/css" href="../assets/jquery.bxslider.css">
    <link rel="stylesheet" type="text/css" href="../assets/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../assets/animate.css">
    <link rel="stylesheet" type="text/css" href="../assets/style.css">
    <% end %>

  </head>
    <% if true %>
    <script src="../assets/wow.js"></script>
    <script src="../assets/jquery.easing.min.js"></script>
    <script src="../assets/jquery.min.js"></script>
    <script src="../assets/bootstrap.min.js"></script>
    <script src="../assets/jquery.bxslider.min.js"></script>
    <script src="../assets/custom.js"></script>
   <% end %>
    
  <body>
  
  <!--ganzer Bildschirm für digital signage-->
  <% if (controller_name == "home" and action_name == "index18") %> 
    <%= yield %>
  <% else %>

    <div class="loader"></div>
    <div id="myDiv">

      <%= render 'layouts/header' %>
  
      <section id="yield">
        <br><br><br><br>
        <%= yield %>
      </section>

      <% if false %>
  
      <%= render 'layouts/feature' %>
  
      <%= render 'layouts/myservices' %>
  
      <%= render 'layouts/service' %>
  
      <%= render 'layouts/portfolio' %>

      <%= render 'layouts/testimonial' %>
  
      <%= render 'layouts/blog' %>

      <%= render 'layouts/contact' %>

      <% end %>  

      <%= render 'layouts/subscription' %>

      <%= render 'layouts/partner' %>

      <%= render 'layouts/dashboard' %>

      <%= render 'layouts/superuser' %>
  
      <% flash.each do |name, msg| %>
        <% content_tag(:div, msg, class:"alert alert-warning") %>
        <div id="snackbar"><%= msg %></div>
      <% end %>
  
    </div>
    </div>
  <% end %>

  <% if false %>
    <%= render 'layouts/header' %>
    
    <div class='container-fluid testcontainer'>
        <% flash.each do |name, msg| %>
          <% content_tag(:div, msg, class:"alert alert-warning") %>
          <div id="snackbar"><%= msg %></div>
        <% end %>

        <!--<% render 'layouts/advertise' %>-->

        <%= yield %>

    </div>
    <%= render 'layouts/footer' %>
    
  <% end %>

  </body>
  
</html>


<% if flash and flash.count>0 %>
  <script>
  function myFunction() {
      var x = document.getElementById("snackbar")
      x.className = "show";
      setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
  }
  myFunction();
  </script>
<% end %>

<script>
function scrollTo(hash) {
    location.hash = "#yield";
}
</script>